<template>
  <ul class="menu-nav">
    <!-- Dashboard -->
    <router-link
      to="/dashboard"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active',
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon2-architecture-and-city"></i>
          <span class="menu-text">Dashboard</span>
        </a>
      </li>
    </router-link>

    <!-- Orders -->
    <li
      aria-haspopup="true"
      data-menu-toggle="hover"
      class="menu-item menu-item-submenu"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/orders') }"
    >
      <a href="#" class="menu-link menu-toggle">
        <i class="menu-icon flaticon-folder"></i>
        <span class="menu-text">Orders</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="menu-submenu">
        <span class="menu-arrow"></span>
        <ul class="menu-subnav">
          <li aria-haspopup="true" class="menu-item menu-item-parent">
            <span class="menu-link">
              <span class="menu-text">Orders</span>
            </span>
          </li>

          <router-link
            to="/orders/pending"
            v-slot="{ href, navigate, isActive, isExactActive }"
          >
            <li
              aria-haspopup="true"
              data-menu-toggle="hover"
              class="menu-item"
              :class="[
                isActive && 'menu-item-active',
                isExactActive && 'menu-item-active',
              ]"
            >
              <a :href="href" class="menu-link" @click="navigate">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Pending Orders</span>
              </a>
            </li>
          </router-link>

          <router-link
            to="/orders/history"
            v-slot="{ href, navigate, isActive, isExactActive }"
          >
            <li
              aria-haspopup="true"
              data-menu-toggle="hover"
              class="menu-item"
              :class="[
                isActive && 'menu-item-active',
                isExactActive && 'menu-item-active',
              ]"
            >
              <a :href="href" class="menu-link" @click="navigate">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Order History</span>
              </a>
            </li>
          </router-link>
        </ul>
      </div>
    </li>

    <!-- Consginments -->
    <router-link
      to="/consignments/view"
      v-slot="{ href, navigate, isActive, isExactActive }"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/consignments') }"

    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active',
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon2-delivery-package"></i>
          <span class="menu-text">Consginments</span>
        </a>
      </li>
    </router-link>

    <!-- Manifest -->
    <router-link
      to="/manifests/list"
      v-slot="{ href, navigate, isActive, isExactActive }"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/manifests') }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active',
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon2-list-2"></i>
          <span class="menu-text">Manifest</span>
        </a>
      </li>
    </router-link>

    <!-- AddressBook -->
    <router-link
      to="/addressBook/detail"
      v-slot="{ href, navigate, isActive, isExactActive }"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/addressbook') }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active',
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon2-open-text-book"></i>
          <span class="menu-text">Address Book</span>
        </a>
      </li>
    </router-link>

    <!-- Products -->
    <router-link
      to="/products/view"
      v-slot="{ href, navigate, isActive, isExactActive }"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/products') }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active',
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon-open-box"></i>
          <span class="menu-text">Products</span>
        </a>
      </li>
    </router-link>

    <!-- Profile -->
    <router-link
      to="/profile/info"
      v-slot="{ href, navigate, isActive, isExactActive }"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/profile') }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active',
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon-profile-1"></i>
          <span class="menu-text">My Profile</span>
        </a>
      </li>
    </router-link>

    <!-- Company Detail -->
    <router-link
      to="/company/detail"
      v-slot="{ href, navigate, isActive, isExactActive }"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/company') }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active',
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon-presentation-1"></i>
          <span class="menu-text">Company Details</span>
        </a>
      </li>
    </router-link>

    <!-- Client Profile -->
    <!-- <router-link
      to="/client/detail"
      v-slot="{ href, navigate, isActive, isExactActive }"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/client') }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active',
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon-profile-1"></i>
          <span class="menu-text">Client Profile</span>
        </a>
      </li>
    </router-link> -->

    <!-- Admin Panel  -->
    <!-- Users -->
    <!-- <router-link
      to="/users"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon-users-1"></i>
          <span class="menu-text">Users</span>
        </a>
      </li>
    </router-link> -->

    <!-- Client -->
    <!-- <router-link
      to="/clients"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon-users"></i>
          <span class="menu-text">Clients</span>
        </a>
      </li>
    </router-link> -->

    <!-- Client Cards -->
    <!-- <router-link
      to="/client/detail"
      v-slot="{ href, navigate, isActive, isExactActive }"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/clientcards') }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active',
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon-coins"></i>
          <span class="menu-text">Client Cards</span>
        </a>
      </li>
    </router-link> -->

    <!-- Users -->
    <!-- <router-link
      to="/user/detail"
      v-slot="{ href, navigate, isActive, isExactActive }"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/user/') }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active',
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon  flaticon-users-1"></i>
          <span class="menu-text">User</span>
        </a>
      </li>
    </router-link> -->
    
  </ul>
</template>

<script>
export default {
  name: "KTMenu",
  methods: {
    hasActiveChildren(match) {
      return this.$route["path"].indexOf(match) !== -1;
    },
  },
};
</script>
