<template>
  <div style="background:white" class="mt-3">
    <div class="login-form login-signin">
      <div class="text-center mb-5 pt-10 mb-10">
        <h3 class="font-size-h1"><strong> Update Product </strong></h3>
      </div>
    </div>

    <b-form class="form" style="max-width: 250px; margin:auto">
            <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-1"
          name="example-input-1"
          type="text"
          placeholder="Product SKU"
          v-model="$v.form.product_sku.$model"
          :state="validateState('product_sku')"
          aria-describedby="input-51-live-feedback"
          style="width:100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Product SKU required</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-1"
          name="example-input-1"
          type="number"
          placeholder="Product Length"
          v-model="$v.form.length.$model"
          :state="validateState('length')"
          aria-describedby="input-51-live-feedback"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Length required</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-1"
          name="example-input-1"
          type="number"
          placeholder="Product Weight"
          v-model="$v.form.weight.$model"
          :state="validateState('weight')"
          aria-describedby="input-51-live-feedback"
          style="width:100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Weight required</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-1"
          name="example-input-1"
          type="number"
          placeholder="Product Width"
          v-model="$v.form.width.$model"
          :state="validateState('width')"
          aria-describedby="input-51-live-feedback"
          style="width: 100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Width required</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-1"
          name="example-input-1"
          type="number"
          placeholder="Total Height"
          v-model="$v.form.height.$model"
          :state="validateState('height')"
          aria-describedby="input-51-live-feedback"
          style="width: 100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Height required</b-form-invalid-feedback>
      </b-form-group>

      <!--begin::Action-->
      <div class="form-group d-flex flex-wrap justify-content-left align-items-left">
        <b-button
        @click.stop.prevent="back"
        class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
        style=" margin-right:5px"
         variant="outline-primary">
         Back</b-button>
        <button
          @click.stop.prevent="onupdate"
          type="update"
          ref="kt_update_submit"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style=" margin-left:5px"
        >Update</button>
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->
  </div>
  <!-- end::Create Product -->
</template>


<script>

import { validationMixin } from "vuelidate";
import { minLength, required, minValue } from "vuelidate/lib/validators";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

export default {
  mixins: [validationMixin],

  name: "UpdateProduct",
  data() {
    return {
      token: '',
      form: {
        product_sku: '',
        length: '',
        weight: '',
        height: '',
        width: ''
      }
    };
  },

  validations: {
    form: {
      product_sku: {
        required,
        minLength: minLength(3)
      },
      length: {
        required,
        minLength: minLength(1),
        minValue: minValue(0)
      },
      weight: {
        required,
        minLength: minLength(1),
        minValue: minValue(0)
      },
      height: {
          required,
        minLength: minLength(1),
        minValue: minValue(0)
      },
      width: {
          required,
        minLength: minLength(1),
        minValue: minValue(0)
      }
    }
  },

   mounted(){
  this.token = this.$store.state.auth.user.setClient_accessToken ? 
  this.$store.state.auth.user.setClient_accessToken : this.$store.state.auth.user.access_token;

    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Products" , route: "/products/view" },
      { title: "Edit"},
    ]);
    this.fetchItem();
  },

  methods: {
    
    onupdate() {

      // set spinner to submit button
      const submitButton = this.$refs["kt_update_submit"];
      
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      submitButton.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {   
           submitButton.classList.remove(
           "spinner",
           "spinner-light",
           "spinner-right"
         );
       }, 2000);
      
      this.$axios({
        method: "put",
        url: `/product/${this.$route.params.e_id}`,
        headers:{
          'Authorization' : `Bearer ${this.token}`
        },
        data: { 
            product_sku: this.form.product_sku,
            length: parseInt(this.form.length),
            width: parseInt(this.form.width),
            height: parseInt(this.form.height),
            weight: parseInt(this.form.weight)
         }
      })
        .then(response => {
          // console.log(response.data);
          if(response.data.status == '1'){
          this.$root.$bvToast.toast("Product has been update successfully.", {
          title: "Couriersx!",
          variant: "success",
          solid: true
          });
          }
         this.$router.push({ name: "product" });

        })
        .catch(err => {
          // console.log(err.response);
          if(err){
            return
          }
        })
        .finally(() => {
          // console.log("finally");
        });
    },

    fetchItem: function () {
      this.$axios({
        method: "get",
        url: `/product/${this.$route.params.e_id}`,
        headers:{
          'Authorization' : `Bearer ${this.token}`
        }
      })
        .then((response) => {
          // console.log(response.data);
           this.products = response.data;
           this.form.product_sku = this.products.product_sku;
           this.form.length = this.products.length;
           this.form.weight = this.products.weight;
           this.form.height = this.products.height;
           this.form.width = this.products.width;
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },


    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },

    resetForm() {
      (this.form = {
        width: null,
        height: null,
        length: null,
        weight: null,
        product_sku: null
      }),
        this.$nextTick(() => {
          this.$v.$reset();
        });
    },


    back() {
      this.$router.push({ name: "product" });
    }
  }
};
</script>
  


<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}

</style>