<template>
<div class="mt-3">

    <div class="separator-breadcrumb border-top"></div>
    <div class="row mb-4">
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Product Detail</h4>
            <div class="border-top pt-3 pb-3" v-for="(field, index) in previewcolumns" :key="index">
              <div class="row">
                <div class="col-lg-2 col-md-6 col-12">
                  <strong>{{field.label}}</strong>
                </div>
                <div class="col-lg-10 col-md-6 col-12">{{products[field.key]}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <router-link :to="{name: `product`}">
      <b-button
        class="btn btn-primary"
        style=" margin-right:5px"
         variant="outline-primary">
         Back</b-button>
    </router-link>
    
</div>
</template>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
export default {
  name: "ViewProduct",

    data(){
        return{
          token: '',
          products:[{}],

    previewcolumns: [
        {
          label: "Client Id",
          key: "client_id"
        },
        {
          label: "Product Id",
          key: "product_id"
        },
        {
          label: "Product Title",
          key: "product_sku",
        },
        {
          label: "Product Height",
          key: "height",
        },
        {
          label: "Product Length",
          key: "length",
        },
        {
          label: "Product Weight",
          key: "weight",
        },
        {
          label: "Product Width",
          key: "width"
        },
        {
          label: "Weight Metric",
          key: "weight_metric"
        }
    ]
        };
    },

  mounted(){
      this.token = this.$store.state.auth.user.setClient_accessToken ? 
      this.$store.state.auth.user.setClient_accessToken : this.$store.state.auth.user.access_token;

      this.fetchItem();
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Products" , route: "/products/view" },
      { title: "View"},
    ]);
  },
    
    methods:{

    fetchItem: function () {
      this.$axios({
        method: "get",
        url: `/product/${this.$route.params.id}`,
        headers:{
          'Authorization' : `Bearer ${this.token}`
        }
      })
        .then((response) => {
          // console.log(response.data);
          this.products = response.data;
        })
        .catch((err) => {
            // console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    }
  }
}
</script>