<template>
  <div class="row mt-5">
    <!-- UserPofileSidebar -->
    <div class="col-lg-4 p-0 mb-8">
      <CompanyProfileAsideBar></CompanyProfileAsideBar>
    </div>

    <div class="col-lg-8">
      <div style="background: white">
        <div class="login-form login-signin;">
          <div class="text-center mb-5 pt-10 mb-10">
            <h3 class="font-size-h1"><strong> Add Card </strong></h3>
          </div>
        </div>

        <b-form class="form" style="max-width: 250px; margin: auto">
          <!-- Card Number Field -->
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-11"
              type="number"
              placeholder="Card Number"
              v-model="$v.client.number.$model"
              :state="validateState('number')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Card Number required</b-form-invalid-feedback
            >
          </b-form-group>

          <!-- Expire Month Field -->
          <b-form-group>
            <b-form-select
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-12"
              name="example-input-12"
              :options="months"
              value-field="key"
              text-field="name"
              v-model="$v.client.exp_month.$model"
              :state="validateState('exp_month')"
              aria-describedby="input-52-live-feedback"
            ></b-form-select>

            <b-form-invalid-feedback id="input-52-live-feedback"
              >Expire Month required</b-form-invalid-feedback
            >
          </b-form-group>

          <!-- Expire Year -->
          <b-form-group>
            <b-form-select
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-13"
              :options="years"
              value-field="key"
              text-field="name"
              v-model="$v.client.exp_year.$model"
              :state="validateState('exp_year')"
              aria-describedby="input-53-live-feedback"
            ></b-form-select>

            <b-form-invalid-feedback id="input-53-live-feedback"
              >Expire Month required</b-form-invalid-feedback
            >
          </b-form-group>

          <!-- Cvc Number -->
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-14"
              name="example-input-14"
              type="number"
              placeholder="CVC Number"
              v-model="$v.client.cvc.$model"
              :state="validateState('cvc')"
              aria-describedby="input-54-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-54-live-feedback"
              >3 Digit CVC required</b-form-invalid-feedback
            >
          </b-form-group>

          <!--begin::Action-->
          <div
            class="form-group d-flex flex-wrap justify-content-left align-items-left"
          >
            <b-button
              @click.stop.prevent="$router.push({ name: 'view-cards' })"
              class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
              style="margin-right: 5px"
              variant="outline-primary"
            >
              Back</b-button
            >
            <button
              @click.stop.prevent="onAdd"
              type="submit"
              ref="kt_client_cardAdd"
              class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
              style="margin-left: 5px"
            >
              Add
            </button>
          </div>
          <!--end::Action-->
        </b-form>
        <!--end::Form-->
      </div>
    </div>
  </div>
</template>

<script>
import CompanyProfileAsideBar from "@/view/content/CompanyProfileAsideBar";

import { validationMixin } from "vuelidate";
import { minLength, required, minValue, maxLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "clientCard",
  components: {
    CompanyProfileAsideBar,
  },

  data() {
    return {    
     token: '',
     months: [
          { key: undefined, name: 'Please Select Expire Month' },
          { key: '1', name: 'January' },
          { key: '2', name: 'February' },
          { key: '3', name: 'March' },
          { key: '4', name: 'April' },
          { key: '5', name: 'May' },
          { key: '6', name: 'June' },
          { key: '7', name: 'July' },
          { key: '8', name: 'August' },
          { key: '9', name: 'September' },
          { key: '10', name: 'October' },
          { key: '11', name: 'November' },
          { key: '12', name: 'December' }
        ],

     years: [
          { key: undefined, name: 'Please Select Expire Year' },
          { key: '2020', name: '2020' },
          { key: '2021', name: '2021' },
          { key: '2022', name: '2022' },
          { key: '2023', name: '2023' },
          { key: '2024', name: '2024' },
          { key: '2025', name: '2025' },
          { key: '2026', name: '2026' },
          { key: '2027', name: '2027' },
          { key: '2028', name: '2028' },
          { key: '2029', name: '2029' },
          { key: '2030', name: '2030' }
        ],

     client: {
        number: '',
        exp_month: null,
        exp_year: null,
        cvc: ''
      }
    };
  },

  validations: {
    client: {
      number: {
        required,
        minLength: minLength(16),
        minValue: minValue(0)
      },
      exp_month: {
        required,
      },
      exp_year: {
        required,
      },
      cvc: {
        required,
        minValue: minValue(0),
        minLength: minLength(3),
        maxLength: maxLength(3)
      }
    }
  },

  mounted() {
    this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;
  },

 methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.client[name];
      return $dirty ? !$error : null;
    },

    onAdd() {
      // set spinner to update button
      const clientCardAdd = this.$refs["kt_client_cardAdd"];
      
      this.$v.client.$touch();
      if (this.$v.client.$anyError) {
        return;
      }

      clientCardAdd.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {   
           clientCardAdd.classList.remove(
           "spinner",
           "spinner-light",
           "spinner-right"
         );
       }, 2000);
      
      this.$axios({
        method: "post",
        url: `/client/card`,
        headers:{
        'Authorization' : `Bearer ${this.token}`
        },
        data: {
          number: this.client.number,
          exp_month: this.client.exp_month,
          exp_year: this.client.exp_year,
          cvc: this.client.cvc
        }
      })
        .then(response => {
          // console.log(response.data);
          if(response.data.status == '1'){
          this.$root.$bvToast.toast("Card has been Added successfully.", {
          title: "Couriersx!",
          variant: "success",
          solid: true
          });
          }
          this.$router.push({ name: 'view-cards' });
        })
        .catch(err => {
          // console.log(err.response);
          if(err){
            this.$root.$bvToast.toast("Something went wrong.", {
            title: "Couriersx!",
            variant: "danger",
            solid: true
            });
          }
        })
        .finally(() => {
          // console.log("finally");
        });
    },

  },
};
</script>