<template>
  <div class="row mt-5">
    <!-- UserPofileSidebar -->
    <div class="col-lg-4 p-0 mb-8">
      <CompanyProfileAsideBar></CompanyProfileAsideBar>
    </div>
 
    <div class="col-lg-8">
      <b-img src="/media/error/UnderConstruction.jpg" style="width: 100%" alt="Responsive image"></b-img>
    </div>
  </div>
</template>

<script>
import CompanyProfileAsideBar from "@/view/content/CompanyProfileAsideBar";

export default {
    components:{
        CompanyProfileAsideBar
    },
}
</script>