<template>
  <div class="row mt-5">
    <!-- UserPofileSidebar -->
    <div class="col-lg-4 p-0 mb-8">
      <CompanyProfileAsideBar></CompanyProfileAsideBar>
    </div>

    <div class="col-lg-8" style="background: white">
        <h2 class="pt-7 pl-5"><strong>  Users </strong></h2>
          <!-- Search Field -->
      <div class="row mr-0 ml-0 pt-5">
        <div class="col-lg-3">
        <div>
          <form>
          <b-input-group
            class="mt-2"
            >
            <b-form-input 
            v-model="filter"
            placeholder="Search Users..."></b-form-input>
            <b-input-group-append>
              <b-button size="sm" text="Button" variant="primary"
              :disabled="!filter"
              @click="filter = ''"
              >Reset</b-button>
            </b-input-group-append>
          </b-input-group>
          </form>
        </div>
        </div>
      </div>
    
    <div class="show">
      <br />
    <!-- Table -->
      <b-table style="background:white;"
      
      id="my-table"
      large hover
      :items="users"
      :fields="columns"
      :sort-by.sync="sortBy"
      sort-icon-right
      :per-page="perPage"
      :filter="filter"
      :current-page="currentPage"
    ></b-table>
    </div>
    
    <!-- Pagination -->
    <div class="overflow-auto" v-if="loader == true">  
      <b-pagination 
      align="center"
      size="lg"
      pills
      v-model="currentPage" 
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
      >
      </b-pagination>
    </div>

 <!-- loader -->
    <div style="display: flex; justify-content: center; align-items: center; height: 500px" 
      v-if="loader == false">
      <b-spinner style="width: 3rem; height: 3rem;" type="grow" variant="primary" label="Loading..."></b-spinner>
    </div>      

</div>


    </div>
</template>

<script>
import CompanyProfileAsideBar from "@/view/content/CompanyProfileAsideBar";

export default {
    components: {
    CompanyProfileAsideBar,
  },
  data() {
    return {
      loader: true,
      rows: '',
      filter: '',
      perPage: 5,
      currentPage: 1,
      users: [],
      sortBy: 'user_id',
      columns: [
        {
          label: "User Id",
          key: "user_id",
          sortable: true
        },
        {
          label: "Client ID",
          key: "client_id",
          sortable: true
        },
        // {
        //   label: "Status",
        //   key: "status",
        //   sortable: true
        // },
      ]
    };
  },

  mounted() {    
    // this.columns.push({
    //   label: "Actions",
    //   key: "actions",
    // });
    this.fetchItem();
  },

  methods: {
    
    fetchItem: function () {
      this.$axios({
        method: "get",
        url: "/client/users",
        headers: {
          Authorization: `Bearer ${this.$store.state.auth.user.access_token}`,
        },
      })
        .then((response) => {
          // console.log(response.data);
          this.users = response.data;
          this.loader = true;
          this.rows = this.users.length;
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.bv-no-focus-ring {
  display: flex;
}
.show {
  align-self: center;
  width: 100%;
  text-align: center;
}

.table{
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th
{
  z-index: 0 !important;
}
@media only screen and (max-width: 600px) {

}

</style>