<template>
  <div class="row mt-5">
    <!-- UserPofileSidebar -->
    <div class="col-lg-4 p-0 mb-8">
      <CompanyProfileAsideBar></CompanyProfileAsideBar>
    </div>

      <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-12" v-if="total_cards < 1 && pagination.loader">
          <h2 class="card py-4">Client has no Card! </h2>
        </div>
        <!-- Card Start -->
        <div class="col-lg-4" v-for="(data, index) in pagination.chunks[pagination.currentPage-1]" :key="index">
          <div class="card card-custom gutter-b card-stretch">
            <!--begin::Body-->
            <div
              class="card-body pt-4 d-flex flex-column justify-content-between"
            >
              <!--begin::User-->
              <div class="d-flex align-items-center mb-7 mt-5">
                <!--begin::Pic-->
                <div class="flex-shrink-0 mr-4 mt-lg-0 mt-3">
                  <div class="symbol symbol-lg-75">
                    <img alt="Pic" src="/media/users/300_21.jpg" />
                  </div>
                  <div class="symbol symbol-lg-75 symbol-primary d-none">
                    <span class="font-size-h3 font-weight-boldest">JM</span>
                  </div>
                </div>
                <!--end::Pic-->
                <!--begin::Title-->
                <div class="d-flex flex-column">
                  <a v-if="$store.state.auth.isAuthenticated"
                    href="#"
                    class="text-dark font-weight-bold text-hover-primary font-size-h4 mb-0"
                    >{{client_Name}}</a
                  >
                  <span class="text-muted font-weight-bold"
                    >Card Holder</span
                  >
                </div>
                <!--end::Title-->
              </div>
              <!--end::User-->
            
              <!--begin::Info-->
              <div class="mb-7">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="text-dark-75 font-weight-bolder mr-2"
                    >Card #:</span
                  >
                  <a href="#" class="text-muted text-hover-primary"
                    >{{data.number}}</a
                  >
                </div>
                <div
                  class="d-flex justify-content-between align-items-cente my-1"
                >
                  <span class="text-dark-75 font-weight-bolder mr-2"
                    >Card CVC:</span
                  >
                  <a href="#" v-if="data.cvc" class="text-muted text-hover-primary"
                    >{{data.cvc}}</a>
                  <a href="#" class="text-muted text-hover-primary"
                    >***</a>  
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <span class="text-dark-75 font-weight-bolder mr-2"
                    >Expiration:</span
                  >
                  <a href="#" class="text-muted text-hover-primary">{{data.exp_month}}/{{data.exp_year}}</a>
                </div>
              </div>
              <!--end::Info-->
              <b-button @click="setCard(data.id)"
                class="btn btn-block btn-sm btn-light-success font-weight-bolder text-uppercase py-4"
                >Set Card</b-button>
              <b-button
                @click="deleteCardModal(data.id)"
                class="btn btn-block btn-sm btn-light-danger font-weight-bolder text-uppercase py-4"
                >Delete Card</b-button
              >
            </div>
            <!--end::Body-->
          </div>
          
        </div>
      </div>

      <!-- Pagination -->
      <div class="overflow-auto mt-5" v-if="pagination.loader == true && total_cards > 1">
        <b-pagination
          align="center"
          size="lg"
          pills
          v-model="pagination.currentPage"
          :total-rows="total_cards"
          :per-page="pagination.perPage"
        ></b-pagination>
      </div>

       <!-- loader -->
    <div style="display: flex; justify-content: center; align-items: center; height: 500px"
      v-if="pagination.loader == false" >
      <b-spinner 
      style="width: 3rem; height: 3rem;" 
      type="grow" 
      variant="primary" 
      label="Loading..."></b-spinner>
    </div>
    </div>

    <!-- Delete Modal -->
    <b-modal ref="delete-modal" centered hide-footer title="Couriersx">
      <div class="d-block text-center">
        <h3>Are You Sure You Want To Delete!</h3>
        <p>You won't be able to reterive this.</p>
      </div>
      <b-button
        class="mt-3"
        variant="outline-danger"
        block
        @click="deleteCardAPI"
        >Delete</b-button
      >
      <b-button
        class="mt-2"
        variant="outline-success"
        block
        @click="$refs['delete-modal'].hide()"
        >No</b-button
      >
    </b-modal>

  </div>
</template>

<script>
import CompanyProfileAsideBar from "@/view/content/CompanyProfileAsideBar";


export default {
  components: {
    CompanyProfileAsideBar,
  },

  data() {
    return {
      token: "",
      pagination:{
      currentPage: 1,
      perPage: 6,
      chunks: [],
      loader: false
      },
      client_Name: '',
      cards: [],
      total_cards: '',
      deleteID: "",
    };
  },

  mounted() {
    // Getting Access Token From Store
    this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;
    // Getting Client Name From Store
    this.client_Name = this.$store.state.auth.user.setClient_client_name ? 
    this.$store.state.auth.user.setClient_client_name : this.$store.state.auth.user.clients[0].client_name;
    // Fetching Card
    this.fetchItem();
  },

  methods: {
    
    // Client setCard
    setCard: function(id){
      this.$axios({
        method: "put",
        url: `/client/card/${id}`,
        headers:{
        'Authorization' : `Bearer ${this.token}`
        },
      })
        .then((response) => {
          // console.log(response.data);
          if(response.data.status == '1'){
          this.$root.$bvToast.toast("Card has been Added successfully.", {
          title: "Couriersx!",
          variant: "success",
          solid: true
          });
          }
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
          this.$root.$bvToast.toast("Something went wrong.", {
          title: "Couriersx!",
          variant: "danger",
          solid: true
          });
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },

    // Fetching Cards
    fetchItem: function () {
      this.$axios({
        method: "get",
        url: "/client/cards",
        headers:{
        'Authorization' : `Bearer ${this.token}`
        },
      })
        .then((response) => {
          // console.log(response.data);
          this.pagination.loader = true;
          this.cards = response.data;
          this.total_cards = this.cards.length;
          this.pagination.chunks = this._.chunk(this.cards, this.pagination.perPage);
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
          this.pagination.loader = true;
            return ;
          }
        })
        .finally(() => {
          //console.log("finally");
          this.pagination.loader = true;

        });
    },

    deleteCardModal: function (id) {
      this.$refs["delete-modal"].show();
      this.deleteID = id;
    },

    deleteCardAPI: function () {

      this.$refs["delete-modal"].hide();

      // Delete Request
      this.$axios({
        method: "delete",
        url: `/client/card/${this.deleteID}`,
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      })
        .then((response) => {
          // console.log(response.data);
          if (response.data.status == "1") {
            this.$root.$bvToast.toast("Card has been deleted successfully.", {
              title: "Couriersx!",
              variant: "success",
              solid: true,
            });
          }
          this.fetchItem();
        })
        .catch((err) => {
          // console.log(err.response);
          if (err) {
            this.$root.$bvToast.toast("Something went wrong.", {
              title: "Couriersx!",
              variant: "danger",
              solid: true,
            });
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },
  },
};
</script>