<template>
  <div>
    <!--begin::Content header-->
    <div
      class="position-absolute top-0 right-0 text-right mt-5 mb-15 mb-lg-0 flex-column-auto justify-content-center py-5 px-10"
    >
      <span class="font-weight-bold font-size-3 text-dark-60"
        >Already have an account?</span
      >
      <router-link
        class="font-weight-bold font-size-3 ml-2"
        :to="{ name: 'login' }"
        >Sign In!</router-link
      >
    </div>
    <!--end::Content header-->

    <!--begin::Signup-->

    <div class="login-form login-signin">
      <div class="text-center mb-10 mb-lg-20">
        <h3 class="font-size-h1">Register</h3>
        <p class="text-muted font-weight-semi-bold">
          Enter your details to Register a Client
        </p>
      </div>

      <!--begin::Form-->
      <b-form class="form">
        <div class="row">
          <div class="col-lg-6">
            <b-form-group
              id="example-input-group-1"
              label
              label-for="example-input-1"
            >
              <b-form-input
                class="form-control form-control-solid h-auto py-5 px-6"
                id="example-input-1"
                name="example-input-1"
                v-model="$v.form.client_name.$model"
                :state="validateState('client_name')"
                aria-describedby="input-1-live-feedback"
                placeholder="Enter Client Full Name"
              ></b-form-input>

              <b-form-invalid-feedback id="input-1-live-feedback"
                >Client Username is required.</b-form-invalid-feedback
              >
            </b-form-group>
          </div>

          <div class="col-lg-6">
            <b-form-group
              id="example-input-group-2"
              label
              label-for="example-input-2"
            >
              <b-form-input
                class="form-control form-control-solid h-auto py-5 px-6"
                id="example-input-2"
                name="example-input-2"
                v-model="$v.form.client_email.$model"
                :state="validateState('client_email')"
                aria-describedby="input-2-live-feedback"
                placeholder="Client Email address"
              ></b-form-input>

              <b-form-invalid-feedback id="input-2-live-feedback"
                >Client Email is required and a valid email
                address.</b-form-invalid-feedback
              >
            </b-form-group>
          </div>

          <div class="col-lg-6">
            <b-form-group
              id="example-input-group-3"
              label
              label-for="example-input-3"
            >
              <b-form-input
                class="form-control form-control-solid h-auto py-5 px-6"
                id="example-input-3"
                name="example-input-3"
                v-model="$v.form.user_name.$model"
                :state="validateState('user_name')"
                aria-describedby="input-3-live-feedback"
                placeholder="Enter Your Full Name"
              ></b-form-input>

              <b-form-invalid-feedback id="input-3-live-feedback"
                >Username is required.</b-form-invalid-feedback
              >
            </b-form-group>
          </div>

          <div class="col-lg-6">
            <b-form-group
              id="example-input-group-4"
              label
              label-for="example-input-4"
            >
              <b-form-input
                class="form-control form-control-solid h-auto py-5 px-6"
                id="example-input-4"
                name="example-input-4"
                v-model="$v.form.user_email.$model"
                :state="validateState('user_email')"
                aria-describedby="input-4-live-feedback"
                placeholder="Email address"
              ></b-form-input>

              <b-form-invalid-feedback id="input-4-live-feedback"
                >Email is required and a valid email
                address.</b-form-invalid-feedback
              >
            </b-form-group>
          </div>

          <div class="col-lg-6">
            <b-form-group
              id="example-input-group-5"
              label
              label-for="example-input-5"
            >
              <b-form-input
                class="form-control form-control-solid h-auto py-5 px-6"
                type="password"
                id="example-input-5"
                name="example-input-5"
                v-model="$v.form.user_password.$model"
                :state="validateState('user_password')"
                aria-describedby="input-5-live-feedback"
                placeholder="Password"
              ></b-form-input>

              <b-form-invalid-feedback id="input-5-live-feedback"
                >Minimum 6 characters required.</b-form-invalid-feedback
              >
            </b-form-group>
          </div>
        </div>

        <!-- begin::Action -->
        <div class="form-group d-flex flex-wrap">
          <b-button
            type="submit"
            @click.stop.prevent="$router.push({ name: 'register'})"
            ref="kt_login_signup_submit"
            class="btn btn-primary font-weight-bold px-4 py-4 my-3 font-size-3 mx-2"
            variant="outline-primary"
          >
            Back
          </b-button>
          <b-button
            type="submit"
            @click.stop.prevent="onSubmit"
            ref="kt_login_signup_submit"
            class="btn btn-primary font-weight-bold px-6 py-4 my-3 font-size-3 mx-2"
            variant="primary"
          >
            Register
          </b-button>
        </div>
        <!--end::Action-->
      </b-form>
      <!--end::Form-->
    </div>
    <!--end::Signup-->


   <b-modal ref="goTologin" hide-footer title="CouriersX">
     <div class="d-block text-center">
       <h5>Use your User Name & Password To Login!</h5>
     </div>
     <b-button class="mt-3" variant="outline-success" block @click="$router.push({ name: 'login' })">Login</b-button>
   </b-modal>

  </div>
</template>

<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
.v-treeview-node .v-input__slot {
  display: flex;
  align-items: flex-end;
}
.v-treeview-node .v-icon {
  height: 10px;
  width: 10px;
}
</style>

<script>
import { mapState } from "vuex";

import { validationMixin } from "vuelidate";
import { email, required, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "ClientRegister",
  data() {
    return {
      form: {
        user_email: "",
        user_name: "",
        user_password: "",
        client_email: "",
        client_name: "",
      },
    };
  },
  validations: {
    form: {
      user_name: {
        required,
        minLength: minLength(3),
      },
      user_email: {
        required,
        email,
      },
      user_password: {
        required,
        minLength: minLength(6),
      },
      client_name: {
        required,
        minLength: minLength(3),
      },
      client_email: {
        required,
        email,
      },
    },
  },

  methods: {
    next: function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
    },

    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },

    resetForm() {
      this.form = {
        user_name: null,
        user_email: null,
        user_password: null,
        client_name: null,
        client_email: null
      };

      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      // set spinner to submit button
      const submitButton = this.$refs["kt_login_signup_submit"];
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {
        submitButton.classList.remove(
          "spinner",
          "spinner-light",
          "spinner-right"
        );
      }, 2000);

      this.$axios({
        method: "post",
        url: "/user/register/new",
        data: this.form,
      })
        .then((response) => {
        //   console.log(response.data);
          if (response.data.status == "success") {
            this.$root.$bvToast.toast(
              "Client has been registered successfully",
              {
                title: "Couriersx!",
                variant: "success",
                solid: true,
              }
            );
            this.$refs['goTologin'].show()
            this.resetForm();
          }
        })
        .catch((err) => {
        //   console.log(err.response);
            if(err.response.data.message){
              this.$root.$bvToast.toast(
              `${err.response.data.message}`,
              {
                title: "Couriersx!",
                variant: "danger",
                solid: true,
              }
            );
        }
        })
        .finally(() => {
          //console.log("finally");
        });
    },
  },

  computed: {
    ...mapState({
      errors: (state) => state.auth.errors,
    }),
  },
};
</script>
