<template>
  <div>
    <div
      class="position-absolute top-0 right-0 text-right mt-5 mb-15 mb-lg-0 flex-column-auto justify-content-center py-5 px-10"
    >
      <span class="font-weight-bold font-size-3 text-dark-60">Don't have an account yet?</span>
      <router-link class="font-weight-bold font-size-3 ml-2" :to="{ name: 'register' }">Sign Up!</router-link>
    </div>

    <div class="login-form login-signin">
      <div class="text-center mb-10 mb-lg-20">
        <h3 class="font-size-h1">Forgot Password</h3>
        <p class="text-muted font-weight-semi-bold">Enter your valid email address</p>
      </div>
    </div>

    <b-form class="form">
      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-1"
          name="example-input-1"
          placeholder="Email"
          v-model="$v.form.email.$model"
          :state="validateState('email')"
          aria-describedby="input-51-live-feedback"
        ></b-form-input>

        <b-form-invalid-feedback
          id="input-51-live-feedback"
        >Email is required and a valid email address.</b-form-invalid-feedback>
      </b-form-group>

    <div>
      <b-modal ref="success-modal" hide-footer title="Couriersx">
        <div class="d-block text-center">
          <h4>You will receive a email to reset your password</h4>
        </div>
        <b-button class="mt-2" variant="outline-success" block @click="redirect">Ok</b-button>
        </b-modal>
    </div>
      <b-toast id="err-toast" title="Couriersx" variant="danger">
        {{message}}
      </b-toast>

      <!--begin::Action-->
      <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
        <button
            type="submit"
            @click.stop.prevent="onSubmit"
            ref="kt_login_signup_submit"
            class="btn btn-primary font-weight-bold m-auto"
          >Send Email</button>
        
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->
  </div>

  <!-- end::Signin -->
</template>

<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}

</style>

<script>

import { validationMixin } from "vuelidate";
import { email, required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "forgotpassword",
  data() {
    return {
      message: '',
      form: {
        email: ""
      },
   };
  },
  validations: {
    form: {
      email: {
        required,
        email
      }
    }
  },

  methods: {
    redirect: function() {
      this.$router.push({ name: "resetpassword" });
    },

    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        email: null,
      };

      this.$nextTick(() => {
        this.$v.$reset();
      });
    },

    onSubmit() {
      
      // set spinner to submit button
      const submitButton = this.$refs["kt_login_signup_submit"];
       
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      submitButton.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {   
           submitButton.classList.remove(
           "spinner",
           "spinner-light",
           "spinner-right"
         );
       }, 2000);      
       
       this.$axios({
        method: "post",
        url: "user/forgotPassword",
        data: {
          email: this.form.email
        },
      })
        .then(response => {
          // console.log(response.data);
          var resetPassword = response.data.unique_code;
          this.$store.commit("resetpassword", resetPassword)
          this.$refs["success-modal"].show();
        })
        .catch(err => {
          // console.log(err.response.data.message);
          if(err){
            this.$bvToast.show('err-toast');
            this.message = err.response.data.message;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    }
  }
};
</script>
  