<template>
  <div>
    <!--begin::Content header-->
    <div
      class="position-absolute top-0 right-0 text-right mt-5 mb-15 mb-lg-0 flex-column-auto justify-content-center py-5 px-10"
    >
      <span class="font-weight-bold font-size-3 text-dark-60">Register a Client</span>
      <router-link class="font-weight-bold font-size-3 ml-2" :to="{ name: 'client-register' }">Client Registration!</router-link>
      <br/>
       <span class="font-weight-bold font-size-3 text-dark-60">Already have an account?</span>
      <router-link class="font-weight-bold font-size-3 ml-2" :to="{ name: 'login' }">Sign In!</router-link>
    </div>
    <!--end::Content header-->

    <!--begin::Signup-->

    <div class="login-form login-signin">
      <div class="text-center mb-10 mb-lg-20">
        <h3 class="font-size-h1">Sign Up</h3>
        <p class="text-muted font-weight-semi-bold">Enter your details to create your account</p>
      </div>

      <!--begin::Form-->

      <b-form class="form">
        <section v-if="step == 1">
          <!-- <h1>Section 1</h1> -->
          
          <!-- <b-form-group id="example-input-group-0" label label-for="example-input-0">
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-0"
              name="example-input-0"
              v-model="$v.form.fistName.$model"
              :state="validateState('firstName')"
              aria-describedby="input-0-live-feedback"
              placeholder="Enter Your First Name"
            ></b-form-input>

            <b-form-invalid-feedback id="input-0-live-feedback">First Name is required.</b-form-invalid-feedback>
          </b-form-group> -->
          
          <b-form-group id="example-input-group-0" label label-for="example-input-0">
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-0"
              name="example-input-0"
              v-model="$v.form.username.$model"
              :state="validateState('username')"
              aria-describedby="input-0-live-feedback"
              placeholder="Enter Your Full Name"
            ></b-form-input>

            <b-form-invalid-feedback id="input-0-live-feedback">Username is required.</b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="example-input-group-1" label label-for="example-input-1">
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-1"
              name="example-input-1"
              v-model="$v.form.email.$model"
              :state="validateState('email')"
              aria-describedby="input-1-live-feedback"
              placeholder="Email address"
            ></b-form-input>

            <b-form-invalid-feedback
              id="input-1-live-feedback"
            >Email is required and a valid email address.</b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="example-input-group-2" label label-for="example-input-2">
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="password"
              id="example-input-2"
              name="example-input-2"
              v-model="$v.form.password.$model"
              :state="validateState('password')"
              aria-describedby="input-2-live-feedback"
              placeholder="Password"
            ></b-form-input>

            <b-form-invalid-feedback id="input-2-live-feedback">Minimum 6 characters required.</b-form-invalid-feedback>
          </b-form-group>

          <!-- <div class="field">
            <b-checkbox value="company" v-model="form.checkbox">Register A Company</b-checkbox>
          </div> -->
        </section>

        <section v-if="step == 2" style="text-align: center;">
          <h3 class="font-size-h1">Company Details</h3>
          <b-form class="form">
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="text"
              id="example-input-4"
              name="example-input-4"
              v-model="form.companyname"
              placeholder="Company Name"
            ></b-form-input>
            <br />
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="number"
              id="example-input-4"
              name="example-input-4"
              v-model="$v.form.companyabn.$model"
              :state="validateState('companyabn')"
              aria-describedby="input-10-live-feedback"
              placeholder="Company ABN"
              style="width:100% ; background-image:none"
            ></b-form-input>
            <b-form-invalid-feedback
              style="text-align:left"
              id="input-10-live-feedback"
            >Company ABN required.</b-form-invalid-feedback>

            <br />
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="number"
              id="example-input-4"
              name="example-input-4"
              v-model="$v.form.consignments.$model"
              :state="validateState('consignments')"
              aria-describedby="input-11-live-feedback"
              placeholder="Consignment Per Week"
              style="width:100%"
            ></b-form-input>

            <b-form-invalid-feedback
              style="text-align:left"
              id="input-11-live-feedback"
            >Consignments Per Week.</b-form-invalid-feedback>
          </b-form>
        </section>

        <section v-if="step == 3" style="text-align: center;">
          <h1 class="font-size-h1">Billing Information</h1>
          <b-form class="form">
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="text"
              id="example-input-4"
              name="example-input-4"
              v-model="$v.form.billingname.$model"
              :state="validateState('billingname')"
              aria-describedby="input-21-live-feedback"
              placeholder="Billing Name"
            ></b-form-input>
            <b-form-invalid-feedback
              style="text-align:left"
              id="input-21-live-feedback"
            >Billing Name required.</b-form-invalid-feedback>

            <br />
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="email"
              id="example-input-4"
              name="example-input-4"
              v-model="$v.form.billingemail.$model"
              :state="validateState('billingemail')"
              aria-describedby="input-22-live-feedback"
              placeholder="Billing Email"
            ></b-form-input>
            <b-form-invalid-feedback
              style="text-align:left"
              id="input-22-live-feedback"
            >Billing Email required.</b-form-invalid-feedback>

            <br />
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="number"
              id="example-input-4"
              name="example-input-4"
              v-model="$v.form.billingnumber.$model"
              :state="validateState('billingnumber')"
              aria-describedby="input-23-live-feedback"
              placeholder="Billing Contact Number"
              style="width:100%"
            ></b-form-input>
            <b-form-invalid-feedback
              style="text-align:left"
              id="input-23-live-feedback"
            >Billing Contact Number required.</b-form-invalid-feedback>
          </b-form>
        </section>

        <section v-if="step == 4" style="text-align: center;">
          <h1 class="font-size-h1">Company Address</h1>
          <b-form class="form">
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="text"
              id="example-input-4"
              name="example-input-4"
              v-model="$v.form.street.$model"
              :state="validateState('street')"
              aria-describedby="input-31-live-feedback"
              placeholder="Street"
            ></b-form-input>
            <b-form-invalid-feedback
              style="text-align:left"
              id="input-31-live-feedback"
            >Street required.</b-form-invalid-feedback>

            <br />
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="text"
              id="example-input-4"
              name="example-input-4"
              v-model="form.street2"
              aria-describedby="input-2-live-feedback"
              placeholder="Street 2"
            ></b-form-input>
            <br />
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="text"
              id="example-input-4"
              name="example-input-4"
              v-model="$v.form.city.$model"
              :state="validateState('city')"
              aria-describedby="input-43-live-feedback"
              placeholder="City"
            ></b-form-input>
            <b-form-invalid-feedback
              style="text-align:left"
              id="input-43-live-feedback"
            >City required.</b-form-invalid-feedback>

            <br />
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="text"
              id="example-input-4"
              name="example-input-4"
              v-model="$v.form.state.$model"
              :state="validateState('state')"
              aria-describedby="input-44-live-feedback"
              placeholder="State"
            ></b-form-input>
            <b-form-invalid-feedback
              style="text-align:left"
              id="input-44-live-feedback"
            >State required.</b-form-invalid-feedback>

            <br />
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              type="number"
              id="example-input-4"
              name="example-input-4"
              v-model="$v.form.postcode.$model"
              :state="validateState('postcode')"
              aria-describedby="input-45-live-feedback"
              placeholder="Post Code"
              style="width:100%"
            ></b-form-input>
            <b-form-invalid-feedback
              style="text-align:left"
              id="input-45-live-feedback"
            >Post Code required.</b-form-invalid-feedback>
          </b-form>
        </section>
          
        <!-- begin::Action -->
         
        <div class="form-group d-flex flex-wrap flex-center">
          <!-- <button
            v-if="step != 1 || !totalstep"
            v-on:click.stop.prevent="back"
            class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 font-size-3 mx-4"
          >Back</button>

          <button
            v-if="step != totalstep && form.checkbox"
            @click.stop.prevent="next"
            class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3 mx-4"
          >Next</button> -->

          <button
            type="submit"
            @click.stop.prevent="onSubmit"
            ref="kt_login_signup_submit"
            class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3 mx-4"
          >Sign Up</button>

        </div>
        <!--end::Action-->
      </b-form>
      <!--end::Form-->
    </div>
    <!--end::Signup-->

    <b-toast id="example-toast" title="Couriersx" variant="danger">
     {{message}}
     </b-toast>


  </div>
</template>

<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
.v-treeview-node .v-input__slot {
  display: flex;
  align-items: flex-end;
}
.v-treeview-node .v-icon {
  height: 10px;
  width: 10px;
}
</style>

<script>
import { mapState } from "vuex";
import { SET_AUTH } from "@/core/services/store/auth.module";

import { validationMixin } from "vuelidate";
import { email, required, minLength, minValue } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "register",
  data() {
    return {
      message: "",
        
      form: {
        email: "",
        username: "",
        password: "",
        // checkbox: "",
        // companyname: "",
        // companyabn: "",
        // consignments: "",
        // billingname: "",
        // billingemail: "",
        // billingnumber: "",
        // street: "",
        // city: "",
        // postcode: "",
        // state: ""
      },
      step: 1,
      totalstep: 4
    };
  },
  validations() {
    if (this.step == 1) {
      return {
        form: {
          username: {
            required,
            minLength: minLength(3)
          },
          email: {
            required,
            email
          },
          password: {
            required,
            minLength: minLength(6)
          }
        }
      };
    }

    if (this.step == 2) {
      if (this.form.companyname) {
        return {
          form: {
            companyabn: {
              required,
              minLength: minLength(11),
              minValue: minValue(0)
            },
            consignments: {
              required,
              minLength: minLength(1),
              minValue: minValue(1)
            }
          }
        };
      } else
        return {
          form: {
            companyabn: {
              minValue: minValue(0)
            },
            consignments: {
              required,
              minLength: minLength(1),
              minValue: minValue(1)
            }
          }
        };
    }

    if (this.step == 3) {
      return {
        form: {
          billingemail: {
            required,
            minLength: minLength(3)
          },
          billingname: {
            required,
            minLength: minLength(3)
          },
          billingnumber: {
            required,
            minLength: minLength(11)
          }
        }
      };
    }

    if (this.step == 4) {
      return {
        form: {
          street: {
            required,
            minLength: minLength(5)
          },
          city: {
            required,
            minLength: minLength(3)
          },
          state: {
            required,
            minLength: minLength(3)
          },
          postcode: {
            required,
            minLength: minLength(3),
            minValue: minValue(0)
          }
        }
      };
    }
  },

  methods: {
    next: function() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      if (this.form.checkbox == "company") {
        this.step++;
      }
    },

    back: function() {
      this.step--;
    },

    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },

    resetForm() {
      this.form = {
        username: null,
        email: null,
        password: null
      };

      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      
      // set spinner to submit button
      const submitButton = this.$refs["kt_login_signup_submit"];
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {   
           submitButton.classList.remove(
           "spinner",
           "spinner-light",
           "spinner-right"
         );
       }, 2000);

      this.$axios({
        method: "post",
        url: "user/register",
        data:{
              full_name: this.form.username,
              email: this.form.email,
              password: this.form.password
        },
      })
        .then(response => {
          // console.log(response.data);
          if(response.data.status == "success"){
          this.$store.commit(SET_AUTH, response.data.userID);
          }
          this.$router.push({ name: "thankyou" });
        })
        .catch(err => {
          //console.log(err.response);
          if(err.response.data.message){
          this.message = err.response.data.message;
          this.$bvToast.show('example-toast');
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    }
  },

  computed: {
    ...mapState({
      errors: state => state.auth.errors
    })
  }
};
</script>
