<template>
  <div style="background:white">

    <div class="login-form login-signin">
      <div class="text-center mb-10 mb-lg-20">
        <h3 class="font-size-h1">Reset Password</h3>
        <p class="text-muted font-weight-semi-bold">Enter your new password</p>
      </div>
    </div>

    <b-form class="form" >
      <b-form-group style="width:300px; margin:auto;">
        
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-11"
          type="email"
          name="example-input-11"
          placeholder="Unique Code"
          v-model="$v.form.ucode.$model"
          :state="validateState('ucode')"
          aria-describedby="input-61-live-feedback"
        ></b-form-input>

        <b-form-invalid-feedback
          id="input-61-live-feedback"
        >Incorrect Unique Code.</b-form-invalid-feedback>
        <br/> 
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-12"
          type="password"
          name="example-input-12"
          placeholder="Passsword"
          v-model="$v.form.password.$model"
          :state="validateState('password')"
          aria-describedby="input-62-live-feedback"
        ></b-form-input>

        <b-form-invalid-feedback
          id="input-62-live-feedback"
        >Enter new password.</b-form-invalid-feedback>
    
      </b-form-group>

      <div>
        <b-modal ref="my-modal" hide-footer title="Couriersx">
          <div class="d-block text-center">
            <p>Your password have been reset, <strong>login to your account with new password</strong></p>
          </div>
        <b-button class="mt-2" variant="outline-success" block @click="redirect">Ok</b-button>
        </b-modal>
      </div>

          <!--begin::Action-->
      <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
        <button
          @click.stop.prevent="onSubmit"
          ref="kt_login_signin_submit"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style="margin:auto"
        >Update Password</button>
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->
  </div>

  <!-- end::Signin -->
</template>

<style lang="scss" scoped>
</style>

<script>

import { validationMixin } from "vuelidate";
import { minLength, required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "resetpassword",
  data() {
    return {
      form: {
        ucode: "",
        password: ""
      } };
  },
  validations: {
    form: {
      password: {
        required,
        minLength: minLength(6),
      },

    ucode: { 
        required, 
        minLength: minLength(6),        
        }
    }
  },

  methods: {
   
   redirect: function(){
      this.$router.push({ name: "login" });
   },

    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        password: null,
        confirmPassword: null
      };

      this.$nextTick(() => {
        this.$v.$reset();
      });
    },

    onSubmit() {
     
     this.$v.form.$touch();
     
     if (this.$v.form.$anyError) {
        return;
      }
     
      this.$axios({
        method: "post",
        url: "/resetpassword",
        data: {},
        params: { 
            email: this.form.email,
            password: this.form.password
        }
      })
        // .then(response => {
        //   //console.log(response.data);
        // })
        // .catch(err => {
        //   //console.log(err.response);
        //   //console.log("error");
        // })
        .finally(() => {
          //console.log("finally");
          this.$refs["my-modal"].show();
        });
    }
  }
};
</script>
  