<template>
<div style="width: 80%">

  <div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Your Profile Has Been Setup!</strong></p>
    
    <p>
    Having trouble? <a href="#">Contact us</a>
    </p>
    <p class="lead">
      <router-link
        :to="{name: 'dashboard'}"
        class="text-dark-60  my-3 mr-2 btn btn-success"
        id="kt_login_forgot"
      >Dashboard</router-link>
    </p>
  </div>
</div>    
</template>


<script>
export default {
 
}
</script>

<style lang="scss" scoped>
</style>

