<template>
  <div>

    <!--begin::Update-->
    <div style="background:white">
      <div class="login-form login-signin">
        <div class="text-center mb-5 pt-10">
          <h3 class="font-size-h1">Add Client</h3>
          <p class="text-muted font-weight-semi-bold">
            Hey,
            <strong style="color:blue">{{ $store.state.auth.user.full_name }}</strong>
          </p>
        </div>
      </div>

      <b-modal ref="my-addClient" hide-footer title="Couriersx">
        <div class="d-block">
          <p>
            Are you sure you want to Set
            <strong>Mr/Mrs {{clientName}}</strong> as your client
          </p>
        </div>

        <b-button 
          class="mt-2" 
          variant="outline-success" 
          block 
          @click="addClient"
        >Add</b-button>

        <b-button
          class="mt-3"
          variant="outline-danger"
          block
          @click="$refs['my-addClient'].hide();"
        >Close</b-button>
      </b-modal>

      <!--begin::Client-Table-->
      <div class="show table-responsive">
        <b-table
          id="my-table"
          head-variant="light"
          large
          hover
          :fields="columns"
          :items="clients"
          :per-page="perPage"
          :current-page="currentPage"
        >
          <template v-slot:cell(actions)="scope">
            <span v-if="scope">
              <b-button
                pill
                variant="primary"
                @click="getClient(scope.item.client_id,scope.item.client_name)"
              >Add</b-button>
            </span>
          </template>
        </b-table>
      </div>

      <!-- Pagination -->
      <div class="overflow-auto" v-if="loader == true">
        <b-pagination
          align="center"
          size="lg"
          pills
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
        ></b-pagination>
      </div>

      <!-- loader -->
      <div
        style="display: flex; justify-content: center; align-items: center; height: 500px"
        v-if="loader == false"
      >
        <b-spinner
          style="width: 3rem; height: 3rem;"
          type="grow"
          variant="primary"
          label="Loading..."
        ></b-spinner>
      </div>
      <!--end::Client-Table-->
    </div>
    <!--end::Update-->
  </div>
</template>


<script>
import { mapState } from "vuex";

import { validationMixin } from "vuelidate";

export default {
  mixins: [validationMixin],
  name: "setClient",

  data() {
    return {
      loader: false,
      rows: "",
      client_id: '',
      perPage: 5,
      currentPage: 1,
      clients: [],
      clientName: "",
      columns: [
        {
          label: "Client Name",
          key: "client_name",
        },
        {
          label: "Cleint ABN",
          key: "client_abn",
        },
        {
          label: "Client Website",
          key: "client_website",
        },
        {
          label: "Contact Name",
          key: "client_contact_name",
        },
        {
          label: "Contact Phone",
          key: "client_contact_phone",
        },
      ],
    };
  },
  mounted() {
    this.columns.push({
      label: "Actions",
      key: "actions",
    });
    this.fetchItem();
  },

  methods: {

    fetchItem: function () {
      
      this.$axios({
        method: "get",
        url: "/clients",
      })
        .then((response) => {
          // console.log(response.data);
          this.loader = true;
          this.clients = response.data;
          this.rows = this.clients.length;
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },

    getClient(id, name) {
      
      this.$refs["my-addClient"].show();
      this.clientName = name
      this.client_id = id;
    },

    addClient: function (){
     
      this.$refs["my-addClient"].hide();

      this.$axios({
        method: "post",
        url: `/user/${this.$store.state.auth.user.user_id}/client`,
        data:{
          client_id: this.client_id
        }
      })
        .then((response) => {
          // console.log(response.data);
          if(response.data.status == 'success'){
          this.$root.$bvToast.toast("Client has been added successfully.", {
          title: "Couriersx!",
          variant: "success",
          solid: true
          });
          var newclient ={};
          newclient.client_id = this.client_id;
          newclient.client_name = this.clientName;
          var clients = this.$store.state.auth.user.clients;
          clients.push(newclient);
          this.$store.commit("updateClient", clients );
          }
        })
        .catch((err) => {
          // console.log(err.response);
          if(err.response.data.status == 'error'){
          this.$root.$bvToast.toast("Client already exist.", {
          title: "Couriersx!",
          variant: "danger",
          solid: true
          });
          }
        })
        .finally(() => {
          // console.log("finally");
        });
    }
  },

  computed: {
    ...mapState({
      errors: (state) => state.auth.errors,
    }),
  },
};
</script>




<style lang="scss" scoped>
.show {
  align-self: center;
  width: 100%;
  text-align: center;
}

.table {
  width: 98%;
  margin: auto;
  margin-bottom: 20px;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th {
  z-index: 0 !important;
}
@media only screen and (max-width: 600px) {
}
</style>
