<template>
  <div class="row mt-5">
    <!-- UserPofileSidebar -->
    <!-- <div class="col-lg-4 p-0 mb-8">
      <CompanyProfileAsideBar></CompanyProfileAsideBar>
    </div> -->

    <div class="col-lg-12">
      <div style="background: white">
        <div class="login-form login-signin;">
          <div class="text-center mb-5 pt-10 mb-10">
            <h3 class="font-size-h1"><strong> Add User </strong></h3>
          </div>
        </div>

        <b-form class="form" style="max-width: 250px; margin: auto">
          <!-- UserName Field -->
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-11"
              type="text"
              placeholder="User Name"
              v-model="$v.user.user_name.$model"
              :state="validateState('user_name')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >User Name required</b-form-invalid-feedback
            >
          </b-form-group>
          <!-- UserEmail Field -->
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-12"
              name="example-input-12"
              type="text"
              placeholder="User Email"
              v-model="$v.user.user_email.$model"
              :state="validateState('user_email')"
              aria-describedby="input-52-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-52-live-feedback"
              >User Email required</b-form-invalid-feedback
            >
          </b-form-group>
          <!-- UserPassword Field -->
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-13"
              type="password"
              placeholder="User Password"
              v-model="$v.user.user_password.$model"
              :state="validateState('user_password')"
              aria-describedby="input-53-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-53-live-feedback"
              >User Password required</b-form-invalid-feedback
            >
          </b-form-group>

          <!--begin::Action-->
          <div
            class="form-group d-flex flex-wrap justify-content-left align-items-left"
          >
            <b-button
              @click.stop.prevent="$router.push({ name: 'users' })"
              class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
              style="margin-right: 5px"
              variant="outline-primary"
            >
              Back</b-button
            >
            <button
              @click.stop.prevent="onAdd"
              type="submit"
              ref="kt_client_userAdd"
              class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
              style="margin-left: 5px"
            >
              Add
            </button>
          </div>
          <!--end::Action-->
        </b-form>
        <!--end::Form-->
      </div>
    </div>
  </div>
</template>

<script>
// import CompanyProfileAsideBar from "@/view/content/CompanyProfileAsideBar";

import { validationMixin } from "vuelidate";
import { minLength, required, email } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "clientUser",
  // components: {
  //   CompanyProfileAsideBar,
  // },

  data() {
    return {
      token: "",

      user: {
        user_name: "",
        user_email: "",
        user_password: "",
      },
    };
  },

  validations: {
    user: {
      user_name: {
        required,
        minLength: minLength(3),
      },
      user_email: {
        required,
        email,
      },
      user_password: {
        required,
        minLength: minLength(6),
      },
    },
  },

  mounted() {
    this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;
  },

  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.user[name];
      return $dirty ? !$error : null;
    },

    onAdd() {
      // set spinner to update button
      const clientuserAdd = this.$refs["kt_client_userAdd"];

      this.$v.user.$touch();
      if (this.$v.user.$anyError) {
        return;
      }

      clientuserAdd.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {
        clientuserAdd.classList.remove(
          "spinner",
          "spinner-light",
          "spinner-right"
        );
      }, 2000);

      this.$axios({
        method: "post",
        url: '/client/user',
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
        data: this.user,
      })
        .then((response) => {
          // console.log(response.data);
          if (response.data.status == "success") {
            this.$root.$bvToast.toast("User has been Added successfully.", {
              title: "Couriersx!",
              variant: "success",
              solid: true,
            });
          }
            this.$router.push({ name: 'users' });
        })
        .catch((err) => {
          // console.log(err.response);
          if (err) {
            this.$root.$bvToast.toast("Something went wrong.", {
              title: "Couriersx!",
              variant: "danger",
              solid: true,
            });
          }
        })
        .finally(() => {
          // console.log("finally");
        });
    },
  },
};
</script>