<template>
  <div style="background:white">
    <div class="login-form login-signin">
      <div class="text-center mb-5 pt-10 mb-10">
        <h3 class="font-size-h1">Create Manifest</h3>
      </div>
    </div>

    <b-form class="form" style="max-width: 250px; margin:auto">
      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-1"
          name="example-input-1"
          type="text"
          placeholder="Reference Number"
          v-model="form.referenceNumber"
          :state="validateState('referenceNumber')"
          aria-describedby="input-51-live-feedback"
          style="width:100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Reference Number required</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-1"
          name="example-input-1"
          type="text"
          placeholder="Courier"
          v-model="form.courier"
          :state="validateState('courier')"
          aria-describedby="input-51-live-feedback"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Courier required</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-1"
          name="example-input-1"
          type="number"
          placeholder="Total Weight"
          v-model="form.totalweight"
          :state="validateState('totalweight')"
          aria-describedby="input-51-live-feedback"
          style="width:100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Total Weight required</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-1"
          name="example-input-1"
          type="number"
          placeholder="Total Item"
          v-model="form.totalitem"
          :state="validateState('totalitem')"
          aria-describedby="input-51-live-feedback"
          style="width: 100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Total Item required</b-form-invalid-feedback>
      </b-form-group>

        <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-1"
          name="example-input-1"
          type="number"
          placeholder="Total Volume"
          v-model="form.totalvolume"
          :state="validateState('totalvolume')"
          aria-describedby="input-51-live-feedback"
          style="width: 100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Total Volume required</b-form-invalid-feedback>
      </b-form-group>

      <!--begin::Action-->
      <div class="form-group d-flex flex-wrap justify-content-center align-items-center">
        <button
          @click.stop.prevent="back"
          ref="kt_login_signin_submit"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style=" margin-right:5px"
        >Back</button>
        <button
          @click.stop.prevent="onSubmit"
          type="submit"
          ref="kt_login_signup_submit"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style=" margin-left:5px"
        >Create</button>
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->
  </div>

  <!-- end::Signin -->
</template>

<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}

</style>

<script>

import { validationMixin } from "vuelidate";
import { minLength, required, minValue } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "creatermanifest",
  data() {
    return {
      // Remove this dummy login info
      form: {
        referenceNumber: "",
        courier: "",
        totalweight: "",
        totalitem: "",
        totalvolume: "",
      }
    };
  },
  validations: {
    form: {
      referenceNumber: {
        required,
        minLength: minLength(5)
      },
      courier: {
        required,
        minLength: minLength(5)
      },
      totalweight: {
        required,
        minLength: minLength(1),
        minValue: minValue(1)
      },
      totalitem: {
          required,
        minLength: minLength(1),
        minValue: minValue(1)
      },
      totalvolume: {
          required,
        minLength: minLength(1),
        minValue: minValue(1)
      }
    }
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      (this.form = {
        referenceNumber: null,
        courier: null
      }),
        this.$nextTick(() => {
          this.$v.$reset();
        });
    },

    onSubmit() {

      // set spinner to submit button
      const submitButton = this.$refs["kt_login_signup_submit"];
      
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      submitButton.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {   
           submitButton.classList.remove(
           "spinner",
           "spinner-light",
           "spinner-right"
         );
       }, 2000);
      this.$router.push({ name: "manifest" });
      //console.log(this.$v.form.$anyError);
    },
    back() {
      this.$router.push({ name: "manifest" });
    }
  }
};
</script>
  