<template>
  <div style="width: 100%; height:100%; text-align:right">
    
    <!-- Dialouge to Create Manifest -->
    <div>
      <b-button variant="outline-primary" style="margin-top:20px" id="show-btn" @click="showModal">Create Manifest</b-button>

      <b-modal ref="my-modal" hide-footer title="Couriersx">
        <div class="d-block text-center">
          <h3>Manifest</h3>
        </div>
        <b-button class="mt-2" variant="outline-success" block @click="createmanifest">Create</b-button>
        <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close</b-button>
      </b-modal>
    </div>

     <!-- Dialogue to Delete From Manifest Table -->
    <div>
      <b-modal ref="my-dltmodal" hide-footer title="Couriersx">
        <div class="d-block text-center">
          <h3>Delete? You won't be able to retrieve this</h3>
        </div>
        <b-button class="mt-2" variant="outline-success" block @click="hideModal">Delete</b-button>
        <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close</b-button>
      </b-modal>
    </div>

    <div class="show">
      <br/>
      <v-simple-table fixed-header style="width: 100%;">
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">Reference Number</th>
              <th class="text-left">Courier</th>
              <th class="text-left">Total Weight</th>
              <th class="text-left">Total Items</th>
              <th class="text-left">Total Volume</th>
              <th class="text-left">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr style="text-align:left; padding-left: 2px;">
              <td>123</td>
              <td>Documents</td>
              <td>100 g</td>
              <td>5</td>
              <td>42 cm</td>
              <td><b-icon-pencil-square style="margin-right:5px; color:blue; font-size: 18px; cursor: pointer;" @click.prevent="updatepage"></b-icon-pencil-square>
                  <b-icon-x-circle style="margin-left:5px; color:red; font-size: 18px; cursor: pointer;" @click.prevent="deletedata"></b-icon-x-circle>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.show {
  align-self: center;
  width: 100%;
}
.tr1 {
  text-align: center;
  padding-left: 10px;
}
.table {
  width: 85%;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th
{
  z-index: 0 !important;
}
</style>

<script>
export default {
  data: function() {
    return {
      selected: ""
    };
  },

  methods: {
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
      this.$refs["my-dltmodal"].hide();
    },
    createmanifest: function() {
      this.hideModal();
      this.$router.push({ name: "createmanifest" });
    },
    updatepage: function(){
      this.$router.push({ name: "updatemanifest" });
    },
    deletedata: function(){
        this.$refs["my-dltmodal"].show();
    },
  }
};
</script>