<template>
  <div class="mt-3">
    <div style="text-align: right">
      <!-- Back Button -->
      <router-link :to="{ name: `manifest-index` }">
        <b-button
          class="btn btn-primary mt-4 mb-5"
          style="margin-right: 5px"
          variant="outline-primary"
        >
          <b-icon icon="arrow-return-left"></b-icon>
          Back</b-button
        >
      </router-link>
    </div>

    <div
      class="row"
      v-for="(consignments, index) in manifest.consignment"
      :key="index"
    >
      <!-- Consignment Detail -->
      <div class="col-lg-5 pb-5">
        <div class="separator-breadcrumb border-top"></div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Consignment {{ index + 1 }} Detail</h4>
                <div
                  class="border-top pt-3 pb-3"
                  v-for="(field, index) in consignmentPreviewColumn"
                  :key="index"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                      <strong> {{ field.label }} </strong>
                    </div>
                    <div class="col-lg-8 col-md-6 col-12">
                      {{ consignments[field.key] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Carrier Detail -->
      <div class="col-lg-4 pb-5">
        <div class="separator-breadcrumb border-top"></div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Carrier {{ index + 1 }} Detail</h4>
                <div
                  class="border-top pt-3 pb-3"
                  v-for="(field, index) in carrierPreviewColumn"
                  :key="index"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                      <strong>{{ field.label }}</strong>
                    </div>
                    <div class="col-lg-8 col-md-6 col-12">
                      {{ consignments.carrier[field.key] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Order Detail -->
      <div class="col-lg-3 pb-5">
        <div class="separator-breadcrumb border-top"></div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Order {{ index + 1 }} Detail</h4>
                <div
                  class="border-top pt-3 pb-3"
                  v-for="(field, index) in orderPreviewColumn"
                  :key="index"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                      <strong>{{ field.label }}</strong>
                    </div>
                    <div class="col-lg-8 col-md-6 col-12">
                      {{ consignments.order[field.key] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- loader -->
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
      "
      v-if="loader == false"
    >
      <b-spinner
        style="
          width: 3rem;
          height: 3rem;
          z-index: 99;
          top: 55%;
          position: absolute;
        "
        type="grow"
        variant="primary"
        label="Loading..."
      ></b-spinner>
    </div>
  </div>
</template>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

export default {
  data() {
    return {
      manifest: [],
      loader: false,

      consignmentPreviewColumn: [
        {
          label: "Carrier ID",
          key: "carrier_id",
        },
        {
          label: "Client Id",
          key: "client_id",
        },
        {
          label: "Consignment Code",
          key: "consignment_code",
        },
        {
          label: "Consignment Id",
          key: "consignment_id",
        },
        {
          label: "Job Number",
          key: "job_number",
        },
        {
          label: "Label PDF",
          key: "label_pdf",
        },
        {
          label: "Manifest Id",
          key: "manifest_id",
        },
        {
          label: "Order Id",
          key: "order_id",
        },
        {
          label: "Receiver Id",
          key: "receiver_id",
        },
        {
          label: "Sender Id",
          key: "sender_id",
        },
        {
          label: "Tracking",
          key: "tracking",
        },
      ],

      carrierPreviewColumn: [
        {
          label: "Carrier ID",
          key: "carrier_id",
        },
        {
          label: "Carrier Name",
          key: "carrier_name",
        },
        {
          label: "Description",
          key: "description",
        },
        {
          label: "Eta",
          key: "eta",
        },
        {
          label: "Fuel",
          key: "fuel",
        },
        {
          label: "Insurance Amount",
          key: "insurance_amount",
        },
        {
          label: "Order Id",
          key: "order_id",
        },
      ],

      orderPreviewColumn: [
        {
          label: "Created At",
          key: "created_at",
        },
        {
          label: "Deleted At",
          key: "deleted_at",
        },
        {
          label: "Status",
          key: "status",
        },
        {
          label: "Updated At",
          key: "updated_at",
        },
      ],
    };
  },

  mounted() {
    this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;
  
  this.$store.dispatch(SET_BREADCRUMB, [
    { title: "Manifest", route: "/manifests/list" },
      { title: "Manifest Detail" },
    ]);

    this.fetchItem();
  },

  methods: {
    fetchItem() {
      this.$axios({
        method: "get",
        url: `/manifest/${this.$route.params.id}`,
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      })
        .then((response) => {
          //   console.log(response.data);
          this.manifest = response.data;
          this.loader = true;
        })
        .catch((err) => {
          // console.log(err.response);
          this.loader = true;
          if (err) {
            this.$root.$bvToast.toast("something went wrong.", {
              title: "Couriersx!",
              variant: "danger",
              solid: true,
            });
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },
  },
};
</script>