<template>
  <div style="background: white" class="mt-3">
    <div class="login-form login-signin;">
      <div class="text-center mb-5 pt-10 mb-10">
        <h3 class="font-size-h1"><strong> Create Client </strong></h3>
      </div>
    </div>
    <b-form class="form" style="max-width: 700px; margin: auto">
      <div class="row">
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-1"
              name="example-input-1"
              type="text"
              placeholder="Client Name"
              v-model="$v.form.client_name.$model"
              :state="validateState('client_name')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Client Name required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-1"
              name="example-input-1"
              type="text"
              placeholder="Client Email"
              v-model="$v.form.billing_email.$model"
              :state="validateState('billing_email')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Client Email required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-1"
              name="example-input-1"
              type="text"
              placeholder="Client Website"
              v-model="$v.form.client_website_url.$model"
              :state="validateState('client_website_url')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Client Website required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-1"
              name="example-input-1"
              type="number"
              placeholder="Client ABN"
              v-model="$v.form.client_abn.$model"
              :state="validateState('client_abn')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Client ABN required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-1"
              name="example-input-1"
              type="text"
              placeholder="Contact Name"
              v-model="$v.form.contact_name.$model"
              :state="validateState('contact_name')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Contact Name required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-1"
              name="example-input-1"
              type="number"
              placeholder="Contact Phone"
              v-model="$v.form.contact_phone.$model"
              :state="validateState('contact_phone')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Contact Phone required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
      </div>

      <!--begin::Action-->
      <div
        class="form-group d-flex flex-wrap justify-content-left align-items-left"
      >
        <b-button
          @click.stop.prevent="back"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style="margin-right: 5px"
          variant="outline-primary"
        >
          Back</b-button
        >
        <button
          @click.stop.prevent="onCreate"
          type="submit"
          ref="kt_client_create"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style="margin-left: 5px"
        >
          Create
        </button>
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->
  </div>
  <!-- end::Create Product -->
</template>


<script>
import { validationMixin } from "vuelidate";
import { minLength, required, minValue, url, email } from "vuelidate/lib/validators";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

export default {
  mixins: [validationMixin],
  name: "createClient",
  data() {
    return {
      form: {
        client_name: "",
        billing_email: "",
        client_website_url: "",
        client_abn: "",
        contact_name: "",
        contact_phone: "",
      },
    };
  },

  validations: {
    form: {
      client_name: {
        required,
        minLength: minLength(3),
      },
      billing_email: {
        required,
       email
      },
      client_website_url: {
        required,
        url,
      },
      client_abn: {
        required,
        minLength: minLength(5),
        minValue: minValue(0),
      },
      contact_name: {
        required,
        minLength: minLength(3),
      },
      contact_phone: {
        required,
        minLength: minLength(1),
        minValue: minValue(0),
      },
    },
  },

  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Clients", route: "/clients" },
      { title: "Create" },
    ]);
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      (this.form = {
        client_name: null,
        client_abn: null,
        client_website_url: null,
        contact_name: null,
        contact_phone: null,
      }),
        this.$nextTick(() => {
          this.$v.$reset();
        });
    },

    onCreate() {
      // set spinner to create button
      const cleintCreate = this.$refs["kt_client_create"];

      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      cleintCreate.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {
        cleintCreate.classList.remove(
          "spinner",
          "spinner-light",
          "spinner-right"
        );
      }, 2000);

      this.$axios({
        method: "post",
        url: "/client",
        data: {
          client_name: this.form.client_name,
          client_website: this.form.client_website_url,
          client_abn: parseInt(this.form.client_abn),
          client_contact_name: this.form.contact_name,
          client_contact_phone: this.form.contact_phone,
        },
      })
        .then((response) => {
          // console.log(response.data);
          if (response.data.status == "success") {
            this.$root.$bvToast.toast("Client has been created successfully.", {
              title: "Couriersx!",
              variant: "success",
              solid: true,
            });
          }
          this.$router.push({ name: "ClientIndex" });
        })
        .catch((err) => {
          // console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          // console.log("finally");
        });
    },

    back() {
      this.$router.push({ name: "ClientIndex" });
    },
  },
};
</script>
  


<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
</style>