<template>
  <div class="mt-3">
    <div class="separator-breadcrumb border-top"></div>
    <div class="row mb-4">
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="heading">
              <h4 class="card-title mb-4">Client Detail</h4>
              <!-- <b-button variant="outline-success">
                <b-icon icon="plus-square"></b-icon> Card
              </b-button> -->
            </div>
            <div
              class="border-top pt-3 pb-3"
              v-for="(field, index) in previewcolumns"
              :key="index"
            >
              <div class="row">
                <div class="col-lg-2 col-md-6 col-12">
                  <strong>{{ field.label }}</strong>
                </div>
                <div class="col-lg-10 col-md-6 col-12">
                  {{ client[field.key] }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <router-link :to="{ name: `ClientIndex` }">
      <b-button
        class="btn btn-primary"
        style="margin-right: 5px"
        variant="outline-primary"
      ><b-icon icon="arrow-return-left"></b-icon>
        Back</b-button
      >
    </router-link>
  </div>
</template>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

export default {
  name: "ViewProduct",

  data() {
    return {
      client: [{}],

      previewcolumns: [
        {
          label: "Client Id",
          key: "client_id",
        },
        {
          label: "Client Name",
          key: "client_name",
        },
        {
          label: "Client Email",
          key: "billing_email",
        },
        {
          label: "Client Website",
          key: "client_website",
        },
        {
          label: "Client ABN",
          key: "client_abn",
        },
        {
          label: "Client Created At",
          key: "created_at",
        },
        {
          label: "Contact Name",
          key: "client_contact_name",
        },
        {
          label: "Contact Phone",
          key: "client_contact_phone",
        },
      ],
    };
  },

  mounted() {
    this.fetchItem();
  this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Clients", route: "/clients" },
      { title: "View" },
    ]);
  },

  methods: {
    fetchItem: function () {
      this.$axios({
        method: "get",
        url: `/client/${this.$route.params.id}`,
      })
        .then((response) => {
          // console.log(response.data);
          this.client = response.data;
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },
  },
};
</script>
<style scoped>
.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 5px;
}
</style>