<template>
  <div style="background:white;" class="mt-3">
    <div class="login-form login-signin;">
      <div class="text-center mb-5 pt-10 mb-10">
        <h3 class="font-size-h1"><strong> Create Address Book </strong></h3>
      </div>
    </div>

    <b-form class="form" style="max-width: 700px; margin:auto" >
      <div class="row " style="padding:15px">
    
    <div class="col-lg-6">
      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-11"
          name="example-input-1"
          type="text"
          placeholder="Name"
          v-model="$v.form.name.$model"
          :state="validateState('name')"
          aria-describedby="input-51-live-feedback"
          style="width:100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Name required</b-form-invalid-feedback>
      </b-form-group>
    </div>

    <div class="col-lg-6">
      <b-form-group>
        <b-form-textarea
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-12"
          name="example-input-1"
          type="text"
          placeholder="Address 1"
          v-model="$v.form.address_1.$model"
          :state="validateState('address_1')"
          aria-describedby="input-51-live-feedback"
        ></b-form-textarea>

        <b-form-invalid-feedback id="input-51-live-feedback">Address 1 required</b-form-invalid-feedback>
      </b-form-group>
    </div>

    <div class="col-lg-6">
      <b-form-group>
        <b-form-textarea
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-13"
          name="example-input-1"
          type="number"
          placeholder="Address 2"
          v-model="$v.form.address_2.$model"
          :state="validateState('address_2')"
          aria-describedby="input-51-live-feedback"
          style="width:100%"
        ></b-form-textarea>

        <b-form-invalid-feedback id="input-51-live-feedback">Address 2 required</b-form-invalid-feedback>
      </b-form-group>
    </div>

    <div class="col-lg-6">
      <b-form-group>
        <b-form-textarea
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-14"
          name="example-input-1"
          type="text"
          placeholder="Address 3"
          v-model="$v.form.address_3.$model"
          :state="validateState('address_3')"
          aria-describedby="input-51-live-feedback"
          style="width:100%"
        ></b-form-textarea>

        <b-form-invalid-feedback id="input-51-live-feedback">Address 3 required</b-form-invalid-feedback>
      </b-form-group>
    </div>

    <div class="col-lg-6">
      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-15"
          name="example-input-1"
          type="text"
          placeholder="City"
          v-model="$v.form.city.$model"
          :state="validateState('city')"
          aria-describedby="input-51-live-feedback"
          style="width: 100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">City required</b-form-invalid-feedback>
      </b-form-group>
    </div>

    <div class="col-lg-6">
      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-16"
          name="example-input-1"
          type="text"
          placeholder="State"
          v-model="$v.form.state.$model"
          :state="validateState('state')"
          aria-describedby="input-51-live-feedback"
          style="width: 100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">State required</b-form-invalid-feedback>
      </b-form-group>
    </div>

    <div class="col-lg-6">
      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-17"
          name="example-input-1"
          type="number"
          placeholder="Post Code"
          v-model="$v.form.post_code.$model"
          :state="validateState('post_code')"
          aria-describedby="input-51-live-feedback"
          style="width: 100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Post Code required</b-form-invalid-feedback>
      </b-form-group>
    </div>
      
    <div class="col-lg-6">
      <b-form-group>
        <b-form-input
          class="form-control form-control-solid h-auto py-5 px-6"
          id="example-input-18"
          name="example-input-1"
          type="text"
          placeholder="Country"
          v-model="$v.form.country.$model"
          :state="validateState('country')"
          aria-describedby="input-51-live-feedback"
          style="width: 100%"
        ></b-form-input>

        <b-form-invalid-feedback id="input-51-live-feedback">Country required</b-form-invalid-feedback>
      </b-form-group>
    </div>

    <div class="col-lg-6" style="display:flex;">
      <b-form-checkbox size="lg" v-model="form.sender"
      style="margin-right:15px"
      >Sender</b-form-checkbox>
      <b-form-checkbox size="lg" v-model="form.receiver"
      >Receiver</b-form-checkbox>
    </div>

    </div>

      <!--begin::Action-->
      <div class="form-group d-flex flex-wrap justify-content-left align-items-left" style="padding-left:15px">
        <b-button
        @click.stop.prevent="back"
        class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
        style=" margin-right:5px"
         variant="outline-primary"
        >Back</b-button>
        <button
          @click.stop.prevent="onCreate"
          type="submit"
          ref="kt_addressBook_create"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style=" margin-left:5px"
        >Create</button>
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->
  </div>
  <!-- end::Create Product -->
</template>


<script>

import { validationMixin } from "vuelidate";
import { minLength, required, minValue } from "vuelidate/lib/validators";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

export default {
  mixins: [validationMixin],
  name: "addressBook",
  data() {
    return {
      token: '',
      form: {
        name: '',
        address_1: '',
        address_2: '',
        address_3: '',
        city: '',
        state: '',
        post_code: '',
        country: '',
        sender: false,
        receiver: false
      }
    };
  },
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3)
      },
      
      address_1: {
        required,
      },
      
      address_2: {
        required,
      },
      
      address_3: {
        required,
      },
      
      city: {
        required,
        minLength: minLength(3)
      },
      
      state: {
        required,
        minLength: minLength(3)
      },

      post_code:{
          required,
        minLength: minLength(4),
        minValue: minValue(0)
      },

      country:{
          required,
        minLength: minLength(4),
      },
    }
  },
  
  mounted(){
    this.token = this.$store.state.auth.user.setClient_accessToken ? 
  this.$store.state.auth.user.setClient_accessToken : this.$store.state.auth.user.access_token;
      this.$store.dispatch(SET_BREADCRUMB, [
      { title: "AddressBook", route: "/addressbook/create" },
      { title: "Create"}
    ]);
  },

  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      (this.form = {
        name: null,
        address_1: null,
        address_2: null,
        address_3: null,
        city: null,
        state: null,
        post_code : null,
        country: null
      }),
        this.$nextTick(() => {
          this.$v.$reset();
        });
    },

    onCreate() {
      // set spinner to create button
      const cleintCreate = this.$refs["kt_addressBook_create"];
      
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      cleintCreate.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {   
           cleintCreate.classList.remove(
           "spinner",
           "spinner-light",
           "spinner-right"
         );
       }, 2000);
      
      this.$axios({
        method: "post",
        url: "/addressbook",
        headers:{
          'Authorization' : `Bearer ${this.token}`
        },
        data: { 
          name: this.form.name,
          address_1: this.form.address_1,
          address_2: this.form.address_2,
          address_3: this.form.address_3,
          city: this.form.city,
          state: this.form.state,
          post_code: this.form.post_code,
          country: this.form.country,
          sender: this.form.sender,
          receiver: this.form.receiver
         }
      })
        .then(response => {
          // console.log(response.data);
          if(response.data.status == 'success'){
          this.$root.$bvToast.toast("Address Book has been created successfully.", {
          title: "Couriersx!",
          variant: "success",
          solid: true
          });
          }
        //  this.$router.push({ name: "addressBook" });
        })
        .catch(err => {
          // console.log(err.response);
          if(err){
            return
          }
        })
        .finally(() => {
          // console.log("finally");
        });
    },

    back() {
      this.$router.push({ name: "addressBook" });
    }
  }
};
</script>
  


<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}

</style>