<template>
  <div class="pt-3" style="background: white">
    <h2 class="pt-7 pl-5"><strong> Address Book </strong></h2>

    <!-- Search Field -->
    <div class="row mr-0 ml-0 pt-5">
      <div class="col-lg-3 col-6">
        <div>
          <b-input-group class="mt-2">
            <b-form-input
              v-model="filter"
              placeholder="Search Address..."
            ></b-form-input>
            <b-input-group-append>
              <b-button
                size="sm"
                text="Button"
                variant="primary"
                :disabled="!filter"
                @click="filter = ''"
                >Reset</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </div>
      </div>
      <div class="col-lg-9 col-6">
        <div slot="table-actions" class="mb-3" style="text-align: right">
          <router-link :to="{ name: `AddressBookCreate` }">
            <b-button pill variant="primary">Add</b-button>
          </router-link>
        </div>
      </div>
    </div>

    <div class="show table-responsive">
      <br />
      <!-- Table -->
      <b-table
        style="background:white; w-100 "
        id="my-table"
        large
        hover
        show-empty
        :fields="columns"
        :items="addressbook"
        :filter="filter"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <!-- <template v-slot:cell(actions)="scope">
        <span v-if="scope">
          <router-link :to="{name: '', params: {id: scope.item.address_book_id}}">
            <i class="flaticon-visible text-65 text-success cursor-pointer mr-5"></i>
          </router-link>
          <router-link :to="{name: '', params: {e_id: scope.item.address_book_id}}">
            <i class="flaticon-edit text-25 text-info cursor-pointer"></i>
          </router-link>
        </span>
      </template> -->
      </b-table>
    </div>

    <!-- Pagination -->
    <div class="overflow-auto pagination-bottom-row" v-if="loader == true">
      <b-pagination
        align="center"
        size="lg"
        pills
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      >
      </b-pagination>
      <div style="width: 190px; display: flex; align-items: baseline">
        <b-form-select v-model="perPage" class="drop-select-list">
          <b-form-select-option value="5">5</b-form-select-option>
          <b-form-select-option value="10">10</b-form-select-option>
          <b-form-select-option value="15">15</b-form-select-option>
          <b-form-select-option value="50">50</b-form-select-option>
        </b-form-select>
        <span v-if="rows >= 1">Total Result: {{ rows }}</span>
        <span v-else>Total Result: 0</span>
      </div>
    </div>

    <!-- loader -->
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
      "
      v-if="loader == false"
    >
      <b-spinner
        style="width: 3rem; height: 3rem"
        type="grow"
        variant="primary"
        label="Loading..."
      ></b-spinner>
    </div>
  </div>
</template>


<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

export default {
  data() {
    return {
      token: "",
      filter: "",
      loader: false,
      rows: "",
      perPage: 5,
      currentPage: 1,
      sortBy: "name",
      addressbook: [],

      columns: [
        {
          label: "Name",
          key: "name",
          sortable: true,
        },
        {
          label: "Address",
          key: "address_1",
          sortable: true,
        },
        {
          label: "City",
          key: "city",
          sortable: true,
        },
        {
          label: "State",
          key: "state",
          sortable: true,
        },
        {
          label: "Country",
          key: "country",
          sortable: true,
        },
      ],
    };
  },

  mounted() {
    this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;
    this.$store.dispatch(SET_BREADCRUMB, [{ title: "Address Book" }]);
    // this.columns.push({
    //   label: "Actions",
    //   key: "actions",
    // });
    this.fetchItem();
  },

  methods: {
    fetchItem: function () {
      this.$axios({
        method: "get",
        url: "/addressbooks",
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      })
        .then((response) => {
          // console.log(response.data);
          this.loader = true;
          this.addressbook = response.data;
          this.rows = this.addressbook.length;
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.show {
  align-self: center;
  width: 100%;
  text-align: center;
}

.table {
  width: 98%;
  margin: auto;
  margin-bottom: 20px;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th {
  z-index: 0 !important;
}
@media only screen and (max-width: 600px) {
}
</style>
<style>
.drop-select-list {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  padding: 0px 15px;
}

.pagination-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

.b-pagination-pills .page-item .page-link {
  border-radius: 6px !important;
  padding: 8px 12px;
}
</style>