<template>
    <div class="pt-3" style="background:white">

        <h2 class="pt-7 pl-5"><strong>  Client Card </strong></h2>
      <!-- Search Field -->
      <div class="row mr-0 ml-0 pt-5">
        <div class="col-lg-3 col-6">
        <div>
          <b-input-group
            class="mt-2"
            >
            <b-form-input 
            v-model="filter"
            placeholder="Search Card..."></b-form-input>
            <b-input-group-append>
              <b-button size="sm" text="Button" variant="primary"
              :disabled="!filter"
              @click="filter = ''"
              >Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </div>
        </div>
        <div class="col-lg-9 col-6">
            <div slot="table-actions" class="mb-3" style="text-align: right;">
              <router-link :to="{name: `addClientCard`}">
                  <b-button pill variant="primary">Add</b-button>
              </router-link>
            </div>
        </div>
      </div>  

      <div class="show table-responsive">
      <br/>
      
      <b-table style="background:white; w-100 " id="my-table"
      large hover
      :fields="columns" :items="cards" 
      :sort-by.sync="sortBy" sort-icon-right
      :filter="filter"
      :per-page="perPage" :current-page="currentPage"
    >
    <template v-slot:cell(actions)="scope">
        <span v-if="scope">
          <b-button pill variant="outline-success" @click="addCard(scope.item.id)">Set</b-button>
        </span>
      </template>
        </b-table>
      </div>
<!-- <router-link :to="{name: 'viewClient', params: {id: scope.item.client_id}}">
  <i class="flaticon-visible text-65 text-success cursor-pointer mr-5"></i>
</router-link>
<router-link :to="{name: 'editClient', params: {e_id: scope.item.client_id}}">
  <i class="flaticon-edit text-25 text-info cursor-pointer"></i>
</router-link> -->


    <!-- Pagination -->
    <div class="overflow-auto" v-if="loader == true">  
      <b-pagination 
      align="center"
      size="lg"
      pills
      v-model="currentPage" 
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
      >
      </b-pagination>
    </div>


    <!-- loader -->
    <div style="display: flex; justify-content: center; align-items: center; height: 500px"
    v-if="loader == false" >
      <b-spinner 
      style="width: 3rem; height: 3rem;" 
      type="grow" 
      variant="primary" 
      label="Loading..."></b-spinner>
    </div>


    </div>
</template>


<script>
export default {
  data() {
    return {
      loader: false,
      token: '',
      rows: '',
      filter: '',
      perPage: 5,
      currentPage: 1,
      cards: [],
      sortBy: '',
      columns: [
        {
          label: "Card Number",
          key: "number",
          sortable: true
        },
        {
          label: "Expire Month",
          key: "exp_month",
          sortable: true
        },
        {
          label: "Expire Year",
          key: "exp_year",
          sortable: true
        },
        {
          label: "CVC",
          key: "cvc",
          sortable: true
        }
      ]
    };
  },

  mounted() {
    this.token = this.$store.state.auth.user.setClient_accessToken ? this.$store.state.auth.user.setClient_accessToken 
    : this.$store.state.auth.user.access_token
    
    this.columns.push({
      label: "Actions",
      key: "actions",
    });
    this.fetchItem();
  },

  methods: {
        
    addCard: function (id) {
      this.$axios({
        method: "put",
        url: `/client/card/${id}`,
        headers:{
        'Authorization' : `Bearer ${this.token}`
        },
      })
        .then(response => {
          // console.log(response.data);
          if(response.data.status == '1'){
          this.$root.$bvToast.toast("Card has been set for payment successfully.", {
          title: "Couriersx!",
          variant: "success",
          solid: true
          });
          }
        })
        .catch(err => {
          // console.log(err.response);
          if(err){
            this.$root.$bvToast.toast("Something went wrong.", {
            title: "Couriersx!",
            variant: "danger",
            solid: true
            });
          }

        })
        .finally(() => {
          //console.log("finally");
        });
    },

    fetchItem: function () {
      this.$axios({
        method: "get",
        url: "/client/cards",
        headers:{
        'Authorization' : `Bearer ${this.token}`
        },
      })
        .then((response) => {
          // console.log(response.data);
          this.loader = true;
          this.cards = response.data;
          this.rows = this.cards.length;
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    }
  },
};
</script>

<style lang="scss" scoped>
.bv-no-focus-ring {
  display: flex;
}
.show {
  align-self: center;
  width: 100%;
  text-align: center;
}

.table{
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th
{
  z-index: 0 !important;
}
@media only screen and (max-width: 600px) {

}

</style>