<template>

<div class="row mt-5">

<!-- UserPofileSidebar -->
<div class="col-lg-3 p-0 mb-8">
<UserSideBar></UserSideBar>
</div>

  <div class="col-lg-9">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
      <!--begin::Header-->
      <div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
          <h3 class="card-label font-weight-bolder text-dark">
            Personal Information
          </h3>
          <span class="text-muted font-weight-bold font-size-sm mt-1"
            >Update your personal informaiton</span
          >
        </div>
        <div class="card-toolbar">
          <button class="btn btn-success mr-2"
            @click.stop.prevent="updateInfo()"
            type="submit"
            ref="kt_login_update_profile"
            style=" margin-left:5px"
          >Save Changes
          </button>

          <button type="reset" class="btn btn-secondary">Cancel</button>

        </div>
      </div>
      <!--end::Header-->
      <!--begin::Form-->
      <form class="form">
        <!--begin::Body-->
        <div class="card-body">
          <div class="row">
            <label class="col-xl-3"></label>
            <div class="col-lg-9 col-xl-6">
              <h5 class="font-weight-bold mb-6">User Info</h5>
            </div>
          </div>
          <!-- <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
            <div class="col-lg-9 col-xl-6">
              <div
                class="image-input image-input-outline"
                id="kt_profile_avatar"
                style="background-image: url(media/users/blank.png)"
              >
                <div
                  class="image-input-wrapper"
                  style="background-image: url(media/users/300_21.jpg)"
                ></div>
                <label
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="change"
                  data-toggle="tooltip"
                  title=""
                  data-original-title="Change avatar"
                >
                  <i class="fa fa-pen icon-sm text-muted"></i>
                  <input
                    type="file"
                    name="profile_avatar"
                    accept=".png, .jpg, .jpeg"
                  />
                  <input type="hidden" name="profile_avatar_remove" />
                </label>
                <span
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="cancel"
                  data-toggle="tooltip"
                  title="Cancel avatar"
                >
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
                <span
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="remove"
                  data-toggle="tooltip"
                  title="Remove avatar"
                >
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
              </div>
              <span class="form-text text-muted"
                >Allowed file types: png, jpg, jpeg.</span
              >
            </div>
          </div> -->

          <!-- Full Name Field -->
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Full Name</label>
            <div class="col-lg-9 col-xl-6">
            <b-form-input
              class="form-control form-control-lg form-control-solid"
              type="text"
              id="example-input-31"
              name="example-input-31"
              aria-describedby="input-31-live-feedback"
              v-model="$v.user.full_name.$model"
              :state="validateState('full_name')"
              placeholder="Full Name"
            ></b-form-input>

            <b-form-invalid-feedback id="input-31-live-feedback">Name required
            </b-form-invalid-feedback>
            </div>
          </div>

          <!-- Company Name Field -->
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Company Name</label>
            <div class="col-lg-9 col-xl-6">

            <b-form-input
              class="form-control form-control-lg form-control-solid"
              type="text"
              id="example-input-32"
              name="example-input-32"
              aria-describedby="input-32-live-feedback"
              value="Couriersx"
              placeholder="Company"
            ></b-form-input>

            <b-form-invalid-feedback id="input-32-live-feedback">Company required
            </b-form-invalid-feedback>


              <span class="form-text text-muted"
                >If you want your invoices addressed to a company. Leave blank
                to use your full name.</span
              >
            </div>
          </div>

          <div class="row">
            <label class="col-xl-3"></label>
            <div class="col-lg-9 col-xl-6">
              <h5 class="font-weight-bold mt-10 mb-6">Contact Info</h5>
            </div>
          </div>

          <!-- Contact No. Field -->
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Contact No.</label>
            <div class="col-lg-9 col-xl-6">
            <b-form-input
              class="form-control form-control-lg form-control-solid"
              type="text"
              id="example-input-33"
              name="example-input-33"
              aria-describedby="input-33-live-feedback"
              v-model="$v.user.contact.$model"
              :state="validateState('contact')"
              placeholder="Email"
            ></b-form-input>

            <b-form-invalid-feedback id="input-33-live-feedback">Contact No. required
            </b-form-invalid-feedback>
                <span class="form-text text-muted"
                >We'll never share your contact no with anyone else.</span>
            </div>
          </div>

            <!-- Email Field -->
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
            <div class="col-lg-9 col-xl-6">
            <b-form-input
              class="form-control form-control-lg form-control-solid"
              type="text"
              id="example-input-34"
              name="example-input-34"
              aria-describedby="input-34-live-feedback"
              v-model="$v.user.email.$model"
              :state="validateState('email')"
              placeholder="Email"
            ></b-form-input>

            <b-form-invalid-feedback id="input-34-live-feedback">Email required
            </b-form-invalid-feedback>
                <span class="form-text text-muted"
                >We'll never share your email address with anyone else.</span>
            </div>
          </div>

            <!-- Company Website -->
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Company Site</label>
            <div class="col-lg-9 col-xl-6">
              <div class="input-group input-group-lg input-group-solid">
            <b-form-input
              class="form-control form-control-lg form-control-solid"
              type="text"
              id="example-input-35"
              name="example-input-35"
              aria-describedby="input-35-live-feedback"
              v-model="$v.user.company_site.$model"
              :state="validateState('company_site')"
              placeholder="Company Website"
            ></b-form-input>
                <div class="input-group-append">
                  <span class="input-group-text">.com.au</span>
                </div>
            <b-form-invalid-feedback id="input-35-live-feedback">Company Site required
            </b-form-invalid-feedback>
              </div>
            </div>
          </div>

        </div>
        <!--end::Body-->
      </form>
      <!--end::Form-->
    </div>
  </div>

</div> 
</template>

<script>
import UserSideBar from "@/view/content/UserProfileAsideBar";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

import { email, required, minLength } from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";

export default {

mixins: [validationMixin],
components: {
    UserSideBar
},

  data() {
    return {
      user: {
        email: "",
        full_name: "",
        contact: "+345(658)-123",
        company_site: "Couriersx"
      }
    };
  },

  validations() {
      return {
        user: {
          full_name: {
            required,
            minLength: minLength(3)
          },
           company_site: {
            required,
            minLength: minLength(3)
          },
          contact: {
            required,
            minLength: minLength(8)
          },
          email: {
            required,
            email
          }
      }
    };
  },

mounted(){
    this.user.full_name = this.$store.state.auth.user.full_name;
    this.user.email = this.$store.state.auth.user.email;

      this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Profile"},
      { title: "Info"}
    ]);
},
methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.user[name];
      return $dirty ? !$error : null;
    },

     updateInfo() {

      // set spinner to submit button
      const submitButton = this.$refs["kt_login_update_profile"];

      this.$v.user.$touch();
      if(this.$v.user.$anyError) {
        return;
      }
      
      // this.$router.push({ name: "dashboard" });
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {   
           submitButton.classList.remove(
           "spinner",
           "spinner-light",
           "spinner-right"
         );
       }, 2000);
        
        const email = this.$v.user.email.$model;
        const full_name = this.$v.user.full_name.$model;

       this.$axios({
        method: "post",
        url: "user/update",
        headers:{
          'Authorization' : `Bearer ${this.$store.state.auth.user.access_token}`
        },
        data:{ full_name , email }
      })
        .then(response => {
        // console.log(response.data);
          if(response.data.success == '1'){    
          this.$root.$bvToast.toast("Profile Updated successfully.", {
          title: "Couriersx!",
          variant: "success",
          solid: true
          });
          var user = {}; 
          user.email = this.form.email;
          user.full_name = this.form.full_name;
          this.$store.commit("updateUser", user);
          }
       })
        .catch(err => {
        //   console.log(err.response);
        if(err){
            return
        }
        })
        .finally(() => {
          //console.log("finally");
        });
    }


}

}
</script>