<template>
  <div>
    <div class="row mt-5">
    <!-- UserPofileSidebar -->
      <div class="col-lg-4 p-0 mb-8">
        <UserSideBar></UserSideBar>
      </div>
      
      <div class="col-lg-8">
        <div class="row">
        <!-- Aurthors -->          
          <div class="col-lg-6">
            <ListWidget3></ListWidget3>
          </div>
        <!-- Todo's -->
          <div class="col-lg-6">
            <ListWidget4></ListWidget4>
          </div>
        <!-- New Arrivals -->
          <div class="col-lg-12">
            <AdvancedTableWidget2></AdvancedTableWidget2>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

import AdvancedTableWidget2 from "@/view/content/widgets/advance-table/Widget2.vue";
import ListWidget3 from "@/view/content/widgets/list/Widget3.vue";
import ListWidget4 from "@/view/content/widgets/list/Widget4.vue";
import UserSideBar from "@/view/content/UserProfileAsideBar";
export default {
  components: {
    AdvancedTableWidget2,
    ListWidget3,
    ListWidget4,
    UserSideBar,
  },


    mounted(){
      this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Profile"},
      { title: "Overview"}
    ]);
  },

};
</script>