<template>
  <div>
    <div class="row mt-5">
      <!-- UserPofileSidebar -->
      <div class="col-lg-3 p-0 mb-8">
        <UserSideBar></UserSideBar>
      </div>

      <div class="col-lg-9">
        <!--begin::Card-->
        <div class="card card-custom">
          <!--begin::Header-->
          <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
              <h3 class="card-label font-weight-bolder text-dark">
                Change Password
              </h3>
              <span class="text-muted font-weight-bold font-size-sm mt-1"
                >Change your account password</span
              >
            </div>
            <div class="card-toolbar">
              <button class="btn btn-success mr-2"
                @click.stop.prevent="updatepassword"
                type="submit"
                ref="kt_login_passwordUpdated"
              >
                Save Changes
              </button>
              <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
          </div>
          <!--end::Header-->
          <!--begin::Form-->
          <form class="form">
            <div class="card-body">
              <!-- Current Password -->
              <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label text-alert"
                  >Current Password</label
                >
                <div class="col-lg-9 col-xl-6">
                    <b-form-group
                    id="example-input-group-31"
                    label
                    label-for="example-input-31"
                  >
                    <b-form-input
                      class="form-control form-control-solid h-auto py-5 px-6"
                      type="text"
                      id="example-input-31"
                      name="example-input-31"
                      v-model="$v.user.current_password.$model"
                      :state="validateState('current_password')"
                      aria-describedby="input-31-live-feedback"
                      placeholder="Current Password"
                    ></b-form-input>

                    <b-form-invalid-feedback id="input-31-live-feedback"
                      >Password required
                    </b-form-invalid-feedback>
                  </b-form-group>
                  <a href="#" class="text-sm font-weight-bold"
                    ><span @click="$bvModal.show('bv-modal-example')">Forgot password ?</span></a
                  >
                </div>
              </div>
              <!-- New Password -->
              <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label text-alert"
                  >New Password</label
                >
                <div class="col-lg-9 col-xl-6">
                  <b-form-group
                    id="example-input-group-32"
                    label
                    label-for="example-input-32"
                  >
                    <b-form-input
                      class="form-control form-control-solid h-auto py-5 px-6"
                      type="password"
                      id="example-input-32"
                      name="example-input-32"
                      v-model="$v.user.password.$model"
                      :state="validateState('password')"
                      aria-describedby="input-32-live-feedback"
                      placeholder="New Password"
                    ></b-form-input>

                    <b-form-invalid-feedback id="input-32-live-feedback"
                      >New Password must have 6 characters.
                    </b-form-invalid-feedback>
                  </b-form-group>
                </div>
              </div>
              <!-- Confirm Password -->
              <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label text-alert"
                  >Verify Password</label
                >
                <div class="col-lg-9 col-xl-6">
                  <b-form-group
                    id="example-input-group-33"
                    label
                    label-for="example-input-33"
                  >
                    <b-form-input
                      class="form-control form-control-solid h-auto py-5 px-6"
                      type="password"
                      id="example-input-33"
                      name="example-input-33"
                      v-model="$v.user.confirmpassword.$model"
                      :state="validateState('confirmpassword')"
                      aria-describedby="input-33-live-feedback"
                      placeholder="Verify Password"
                    ></b-form-input>

                    <b-form-invalid-feedback id="input-33-live-feedback"
                      >Confirm New Password.
                    </b-form-invalid-feedback>
                  </b-form-group>
                </div>
              </div>
            </div>
          </form>
          <!--end::Form-->
        </div>
      </div>
    </div>

  <!-- Modal -->
  <b-modal id="bv-modal-example" hide-footer centered title="Couriersx" > 
    <div class="d-block text-center">
      <h3>Oops! I'm not done yet..</h3>
    </div>
    <b-button class="mt-3" variant="danger" block @click="$bvModal.hide('bv-modal-example')">Close Me</b-button>
  </b-modal>


  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, sameAs } from "vuelidate/lib/validators";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

import UserSideBar from "@/view/content/UserProfileAsideBar";
export default {
  components: {
    UserSideBar,
  },
  mixins: [validationMixin],
  name: "updatePassword",

  data() {
    return {
      user: {
        current_password: "I'm not working at the moment...",
        password: "",
        confirmpassword: "",
      },
    };
  },
  validations() {
    return {
      user: {
        current_password: {
          required
        },
        password: {
          required,
          minLength: minLength(6),
        },
        confirmpassword: {
          sameAs: sameAs("password"),
        },
      },
    };
  },

  mounted(){
      this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Profile"},
      { title: "Change Password"}
    ]);
  },

methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.user[name];
      return $dirty ? !$error : null;
    },

    resetForm() {
      this.user = {
        passoword: null,
        confirmpassword: null,
      };

      this.$nextTick(() => {
        this.$v.$reset();
      });
    },

    updatepassword() {
      // set spinner to submit button
      const updatepasswordButton = this.$refs["kt_login_passwordUpdated"];
      this.$v.user.$touch();
      if (this.$v.user.$anyError) {
        return;
      }

      updatepasswordButton.classList.add(
        "spinner",
        "spinner-light",
        "spinner-right"
      );
      setTimeout(() => {
        updatepasswordButton.classList.remove(
          "spinner",
          "spinner-light",
          "spinner-right"
        );
      }, 2000);

      this.$axios({
        method: "post",
        url: "user/updatePassword",
        headers: {
          Authorization: `Bearer ${this.$store.state.auth.user.access_token}`,
        },
        data: {
          password: this.user.password,
        },
      })
        .then((response) => {
          // console.log(response.data);
          if (response.data.status == '1') {
          this.$root.$bvToast.toast("Password Updated successfully.", {
          title: "Couriersx!",
          variant: "success",
          solid: true
          });
          }
        })
        .catch((err) => {
          //console.log(err.response);
          if (err.message) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
</style>
