<template>
  <div style="background: white" class="mt-3">
    <div class="login-form login-signin;">
      <div class="text-center mb-5 pt-10 mb-10">
        <h3 class="font-size-h1"><strong> Update Order </strong></h3>
      </div>
    </div>

    <b-form class="form" style="max-width: 700px; margin: auto">
      <div
        class="row"
        style="
          padding: 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
          margin: 20px 0px;
        "
      >
        <div class="col-lg-12" style="text-align: center">
          <h2>Order Detail</h2>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              readonly
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-00"
              name="example-input-1"
              type="text"
              v-model="client_name"
              style="width: 100%"
            ></b-form-input>
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-21"
              name="example-input-1"
              type="text"
              placeholder="Order Number"
              v-model="$v.order.order_number.$model"
              :state="validateState('order_number')"
              aria-describedby="input-61-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-61-live-feedback"
              >Order Number required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-22"
              name="example-input-1"
              type="text"
              placeholder="Consignment Id"
              v-model="$v.order.consignment_id.$model"
              :state="validateState('consignment_id')"
              aria-describedby="input-62-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-62-live-feedback"
              >Consignment Id required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="number"
              placeholder="Total Item"
              v-model.number="$v.order.total_items.$model"
              :state="validateState('total_items')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Total Item Count required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-12"
              name="example-input-1"
              type="number"
              placeholder="Total Weight"
              v-model.number="$v.order.total_weight.$model"
              :state="validateState('total_weight')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Total Weight required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="number"
              placeholder="Total Volume"
              v-model.number="$v.order.total_volume.$model"
              :state="validateState('total_volume')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Total Volume required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

      </div>

      <!-- Sender Detail Fields -->
      <div
        class="row"
        style="
          padding: 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
          margin: 20px 0px;
        "
      >
        <div class="col-lg-12" style="text-align: center">
          <h2>Sender Detail</h2>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Sender Name"
              v-model.number="$v.order.sender.name.$model"
              :state="validateStateSender('name')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Sender Name required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">  
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-21"
              name="example-input-1"
              type="text"
              placeholder="Sender Email"
              v-model="$v.order.sender.email.$model"
              :state="validateStateSender('email')"
              aria-describedby="input-61-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-61-live-feedback"
              >Sender Email required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-22"
              name="example-input-1"
              type="number"
              placeholder="Sender Phone"
              v-model="$v.order.sender.phone.$model"
              :state="validateStateSender('phone')"
              aria-describedby="input-62-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-62-live-feedback"
              >Sender Phone required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-Textarea
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="text"
              placeholder="Sender Address 1"
              v-model="$v.order.sender.address_1.$model"
              :state="validateStateSender('address_1')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-Textarea>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Sender Address 1 required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-Textarea
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="text"
              placeholder="Sender Address 2"
              v-model="$v.order.sender.address_2.$model"
              :state="validateStateSender('address_2')"
              style="width: 100%"
            ></b-form-Textarea>

          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-Textarea
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="text"
              placeholder="Sender Address 3"
              v-model="$v.order.sender.address_3.$model"
              :state="validateStateSender('address_3')"
              style="width: 100%"
            ></b-form-Textarea>

          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Sender City"
              v-model="$v.order.sender.city.$model"
              :state="validateStateSender('city')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Sender City required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Sender State"
              v-model="$v.order.sender.state.$model"
              :state="validateStateSender('state')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Sender State required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="number"
              placeholder="Sender Post Code"
              v-model="$v.order.sender.post_code.$model"
              :state="validateStateSender('post_code')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Sender Post Code required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Sender Country"
              v-model="$v.order.sender.country.$model"
              :state="validateStateSender('country')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Sender Country required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6" style="display: flex">
          <b-form-checkbox
            size="lg"
            v-model="order.sender.sender"
            style="margin-right: 15px"
            >Sender</b-form-checkbox
          >
          <b-form-checkbox
            size="lg"
            v-model="order.sender.receiver"
            style="margin-right: 15px"
            >Receiver</b-form-checkbox
          >
          <b-form-checkbox size="lg" v-model="order.sender.custormer"
            >Customer</b-form-checkbox
          >
        </div>
      </div>

      <!-- Receiver Details Fields -->
      <div
        class="row"
        style="
          padding: 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
          margin: 20px 0px;
        "
      >
        <div class="col-lg-12" style="text-align: center">
          <h2>Receiver Detail</h2>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Receiver Name"
              v-model.number="$v.order.receiver.name.$model"
              :state="validateStateReceiver('name')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Receiver Name required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-21"
              name="example-input-1"
              type="text"
              placeholder="Receiver Email"
              v-model="$v.order.receiver.email.$model"
              :state="validateStateReceiver('email')"
              aria-describedby="input-61-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-61-live-feedback"
              >Receiver Email required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-22"
              name="example-input-1"
              type="text"
              placeholder="Receiver Phone"
              v-model="$v.order.receiver.phone.$model"
              :state="validateStateReceiver('phone')"
              aria-describedby="input-62-live-feedback"
              style="width: 100%"
            ></b-form-input>

            <b-form-invalid-feedback id="input-62-live-feedback"
              >Receiver Phone required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-Textarea
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="text"
              placeholder="Receiver Address 1"
              v-model="$v.order.receiver.address_1.$model"
              :state="validateStateReceiver('address_1')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-Textarea>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Receiver Address 1 required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-Textarea
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="text"
              placeholder="Receiver Address 2"
              v-model="$v.order.receiver.address_2.$model"
              :state="validateStateReceiver('address_2')"
              style="width: 100%"
            ></b-form-Textarea>

          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-Textarea
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="text"
              placeholder="Receiver Address 3"
              v-model="$v.order.receiver.address_3.$model"
              :state="validateStateReceiver('address_3')"
              style="width: 100%"
            ></b-form-Textarea>

          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Receiver City"
              v-model="$v.order.receiver.city.$model"
              :state="validateStateReceiver('city')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Receiver City required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Receiver State"
              v-model="$v.order.receiver.state.$model"
              :state="validateStateReceiver('state')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Receiver State required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="number"
              placeholder="Receiver Post Code"
              v-model="$v.order.receiver.post_code.$model"
              :state="validateStateReceiver('post_code')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Receiver Post Code required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Receiver Country"
              v-model="$v.order.receiver.country.$model"
              :state="validateStateReceiver('country')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Receiver Country required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6" style="display: flex">
          <b-form-checkbox
            size="lg"
            v-model="order.receiver.sender"
            style="margin-right: 15px"
            >Sender</b-form-checkbox
          >
          <b-form-checkbox
            size="lg"
            v-model="order.receiver.receiver"
            style="margin-right: 15px"
            >Receiver</b-form-checkbox
          >
          <b-form-checkbox size="lg" v-model="order.receiver.custormer"
            >Customer</b-form-checkbox
          >
        </div>
      </div>

      <!--begin::Action-->
      <div
        class="form-group d-flex flex-wrap justify-content-left align-items-left"
        style="padding-left: 15px"
      >
        <b-button
          @click.stop.prevent="back"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style="margin-right: 5px"
          variant="outline-primary"
          >Back</b-button
        >
        <button
          @click.stop.prevent="update_order"
          type="submit"
          ref="kt_order_update"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style="margin-left: 5px"
        >
          Update
        </button>
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->
  </div>
  <!-- end::Create Product -->
</template>


<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

import { validationMixin } from "vuelidate";
import {
  required,
  minValue,
  minLength,
  email,
  maxLength,
} from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "updateOrder",
  data() {
    return {
      token: "",
      client_name: "",

      order: {
        order_number: "",
        consignment_id: "",
        total_items: "",
        total_weight: "",
        total_volume: "",
        sender: {
          name: '',
          email: '',
          phone: '',
          address_1: '',
          address_2: '',
          address_3: '',
          city: '',
          state: '',
          post_code: '',
          country: ''
        },
        receiver: {
          name: '',
          email: '',
          phone: '',
          address_1: '',
          address_2: '',
          address_3: '',
          city: '',
          state: '',
          post_code: '',
          country: ''
        },
      },
    };
  },

  validations: {
    order: {
      order_number: {
        required,
        minLength: minLength(1),
      },

      consignment_id: {
        required,
        minLength: minLength(1),
      },

      total_items: {
        required,
        minValue: minValue(1),
      },

      total_weight: {
        required,
        minValue: minValue(1),
      },

      total_volume: {
        required,
        minValue: minValue(1),
      },

      sender: {
        name: {
          required,
          minLength: minLength(3),
        },
        email: {
          required,
          email,
        },
        phone: {
          required,
          minLength: minLength(8),
        },
        address_1: {
          required,
          maxLength: maxLength(190),
        },
        address_2: {
          maxLength: maxLength(190),
        },
        address_3: {
          maxLength: maxLength(190),
        },
        city: {
          required,
          minLength: minLength(3),
        },
        state: {
          required,
          minLength: minLength(3),
        },
        post_code: {
          required,
          minLength: minLength(4),
          maxLength: maxLength(4),
        },
        country: {
          required,
          minLength: minLength(4),
        },
      },

      receiver: {
        name: {
          required,
          minLength: minLength(3),
        },
        email: {
          required,
          email,
        },
        phone: {
          required,
          minLength: minLength(8),
        },
        address_1: {
          required,
          maxLength: maxLength(190),
        },
        address_2: {
          maxLength: maxLength(190),
        },
        address_3: {
          maxLength: maxLength(190),
        },
        city: {
          required,
          minLength: minLength(3),
        },
        state: {
          required,
          minLength: minLength(3),
        },
        post_code: {
          required,
          minLength: minLength(4),
          maxLength: maxLength(4),
        },
        country: {
          required,
          minLength: minLength(4),
        },
      },
    },
  },

  mounted() {
    // clientname
    this.client_name = this.$store.state.auth.user.setClient_client_name
      ? this.$store.state.auth.user.setClient_client_name
      : this.$store.state.auth.user.clients[0].client_name;

    //token
    this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;
    this.get_order();

    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Orders", route: "/orders/pending" },
      { title: "Edit",},
    ]);
  },

  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.order[name];
      return $dirty ? !$error : null;
    },

    validateStateSender(name) {
      const { $dirty, $error } = this.$v.order.sender[name];
      return $dirty ? !$error : null;
    },

    validateStateReceiver(name) {
      const { $dirty, $error } = this.$v.order.receiver[name];
      return $dirty ? !$error : null;
    },

    resetForm() {
      (this.form = {}),
        this.$nextTick(() => {
          this.$v.$reset();
        });
    },

    // fecthing order
    get_order() {
      this.$axios({
        method: "get",
        url: `/order/${this.$route.params.e_id}`,
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      })
        .then((response) => {
          // console.log(response.data);
          this.order.order_number = response.data.order_number;
          this.order.total_items = response.data.total_items;
          this.order.total_weight = response.data.total_weight;
          this.order.total_volume = response.data.total_volume;
          this.order.consignment_id = response.data.consignment_id; 
          this.order.receiver = response.data.receiver;
          if(response.data.sender){
            this.order.sender = response.data.sender
          }
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },

    //updating order
    update_order() {
      // set spinner to create button
      const updateOrder = this.$refs["kt_order_update"];

      this.$v.order.$touch();
      if ( this.$v.order.$anyError ||
        this.$v.order.sender.$anyError ||
        this.$v.order.receiver.$anyError) {
        return;
      }

      updateOrder.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {
        updateOrder.classList.remove(
          "spinner",
          "spinner-light",
          "spinner-right"
        );
      }, 2000);

      this.$axios({
        method: "put",
        url: `/order/${this.$route.params.e_id}`,
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
        data: {
          order_number: this.order.order_number,
          consignment_id: this.order.consignment_id,
          total_items: this.order.total_items,
          total_weight: this.order.total_weight,
          total_volume: this.order.total_volume,
          sender: this.order.sender,
          receiver: this.order.receiver,
          items: this.order.items,
        },
      })
        .then((response) => {
          // console.log(response.data);
          if (response.data.status == "1") {
            this.$root.$bvToast.toast("Order has been updated successfully.", {
              title: "Couriersx!",
              variant: "success",
              solid: true,
            });
          }
          this.$router.push({ name: "orders-pending" });
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },
    
    back() {
      this.$router.push({ name: "orders-pending" });
    },
  },
};
</script>
  


<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
</style>