<template>
  <div class="pt-3" style="background: white">
    <h2 class="pt-7 pl-5"><strong> Pending Orders </strong></h2>

    <!-- Search Field -->
    <div class="row mr-0 ml-0 pt-5">
      <div class="col-lg-3 col-6">
        <div>
          <b-input-group class="mt-2">
            <b-form-input
              v-model="filter"
              placeholder="Search Order..."
            ></b-form-input>
            <b-input-group-append>
              <b-button
                size="sm"
                text="Button"
                variant="primary"
                :disabled="!filter"
                @click="filter = ''"
                >Reset</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </div>
      </div>
      <div class="col-lg-9 col-6">
        <div slot="table-actions" class="mb-3" style="text-align: right">
          <router-link :to="{ name: `create-order` }">
            <b-button pill variant="primary">Add</b-button>
          </router-link>
        </div>
      </div>
    </div>

    <div class="show table-responsive">
      <br />

      <!-- table -->
      <b-table
        style="background:white; w-100 "
        id="my-table"
        large
        hover
        show-empty
        :fields="columns"
        :items="orders"
        :sort-by.sync="sortBy"
        sort-icon-right
        :filter="filter"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(actions)="scope">
          <span v-if="scope">
            <router-link
              :to="{
                name: 'viewOrder',
                params: { id: scope.item.order_id },
              }"
            >
              <a class="btn btn-icon btn-light btn-sm">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <!--begin::Svg Icon-->
                  <inline-svg
                    src="media/svg/icons/General/Visible.svg"
                  ></inline-svg>
                  <!--end::Svg Icon-->
                </span>
              </a>
            </router-link>
            <router-link
              :to="{
                name: 'editOrder',
                params: { e_id: scope.item.order_id },
              }"
            >
              <a class="btn btn-icon btn-light btn-sm mx-3">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <!--begin::Svg Icon-->
                  <inline-svg
                    src="media/svg/icons/Communication/Write.svg"
                  ></inline-svg>
                  <!--end::Svg Icon-->
                </span>
              </a>
            </router-link>
          </span>
          <a
            class="btn btn-icon btn-light btn-sm"
            @click="deleteModal(scope.item.order_id)"
          >
            <span class="svg-icon svg-icon-md svg-icon-primary">
              <!--begin::Svg Icon-->
              <inline-svg src="media/svg/icons/General/Trash.svg"></inline-svg>
              <!--end::Svg Icon-->
            </span>
          </a>
        </template>
        <template v-slot:cell(status)="scope">
          <span v-if="scope.item.status == '0'">
            <b-badge pill variant="info">In Progress</b-badge>
          </span>
          <span v-else-if="scope.item.status == '1'">
            <b-badge pill variant="success">Delivered</b-badge>
          </span>
        </template>
      </b-table>
    </div>

    <!-- Pagination -->
    <div class="overflow-auto pagination-bottom-row" v-if="loader == true">
      <b-pagination
        align="center"
        size="lg"
        pills
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      >
      </b-pagination>
      <div style="width: 190px; display: flex; align-items: baseline">
        <b-form-select v-model="perPage" class="drop-select-list">
          <b-form-select-option value="5">5</b-form-select-option>
          <b-form-select-option value="10">10</b-form-select-option>
          <b-form-select-option value="15">15</b-form-select-option>
          <b-form-select-option value="50">50</b-form-select-option>
        </b-form-select>
        <span v-if="rows >= 1">Total Result: {{ rows }}</span>
        <span v-else>No Record</span>
      </div>
    </div>

    <!-- loader -->
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
      "
      v-if="loader == false"
    >
      <b-spinner
        style="width: 3rem; height: 3rem"
        type="grow"
        variant="primary"
        label="Loading..."
      ></b-spinner>
    </div>

    <!-- Delete Modal -->
    <b-modal ref="delete-modal" centered hide-footer title="Couriersx">
      <div class="d-block text-center">
        <h3>Are You Sure You Want To Delete!</h3>
        <p>You won't be able to reterive this.</p>
      </div>
      <b-button
        class="mt-3"
        variant="outline-danger"
        block
        @click="deleteOrder()"
        >Delete</b-button
      >
      <b-button
        class="mt-2"
        variant="outline-success"
        block
        @click="$refs['delete-modal'].hide()"
        >No</b-button
      >
    </b-modal>
  </div>
</template>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

export default {
  data() {
    return {
      deleteId: "",
      loader: false,
      filter: "",
      rows: "",
      perPage: 5,
      currentPage: 1,
      orders: [],
      sortBy: "created_at",
      columns: [
        {
          label: "Order Number",
          key: "order_number",
          sortable: true,
        },
        {
          label: "Receiver name",
          key: "receiver.name",
          sortable: true,
        },
        {
          label: "Receiver City",
          key: "receiver.city",
          sortable: true,
        },
        {
          label: "Receiver State",
          key: "receiver.state",
          sortable: true,
        },
        {
          label: "Order Status",
          key: "status",
          sortable: true,
        },
        {
          label: "Order Date Time",
          key: "created_at",
          sortable: true,
        },
      ],
    };
  },

  mounted() {
    this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;

    this.fetchItem();

    this.$store.dispatch(SET_BREADCRUMB, [{ title: "Orders" }]);
    this.columns.push({
      label: "Actions",
      key: "actions",
    });
  },

  methods: {
    fetchItem: function () {
      this.$axios({
        method: "get",
        url: "/orders/pending",
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      })
        .then((response) => {
          // console.log(response.data);
          this.orders = response.data;
          this.rows = this.orders.length;
          this.loader = true;
        })
        .catch((err) => {
          // console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
          this.loader = true;
        });
    },

    deleteModal(id) {
      this.$refs["delete-modal"].show();
      this.deleteId = id;
    },

    deleteOrder() {
      this.$refs["delete-modal"].hide();

      this.$axios({
        method: "delete",
        url: `/order/${this.deleteId}`,
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      })
        .then((response) => {
          // console.log(response.data);
          if (response.data.status == "1") {
            this.$root.$bvToast.toast("Order has been deleted successfully.", {
              title: "Couriersx!",
              variant: "success",
              solid: true,
            });
          }
          this.fetchItem();
        })
        .catch((err) => {
          // console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },
  },
};
</script>

<style >
.show {
  align-self: center;
  width: 100%;
  text-align: center;
}

.table {
  width: 98%;
  margin: auto;
  margin-bottom: 20px;
}

.drop-select-list {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  padding: 0px 15px;
}

.pagination-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

.b-pagination-pills .page-item .page-link {
  border-radius: 6px !important;
  padding: 8px 12px;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th {
  z-index: 0 !important;
}
@media only screen and (max-width: 600px) {
}
</style>