<template>
  <div style="background: white" class="mt-3">
    <div class="login-form login-signin;">
      <div class="text-center pt-10 mb-10">
        <h3 class="font-size-h1">
          <strong>View Item</strong>
        </h3>
      </div>
    </div>

    <b-form class="form" style="max-width: 700px; margin: auto">
      
      <!-- Item Fields -->
      <div
        class="row"
        style="
          padding: 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
          margin: 20px 0px;
        "
        v-for="(data, index) in order.item"
        :key="index"
      >
        <div class="col-lg-12" style="text-align: center">
          <h2>Item <span v-if="order.item.length > 1">{{Number(index) + Number(1)}}</span> Detail</h2>
        </div>

        <div class="col-lg-6">
          <b-form-group>
          <label> Product Description </label>
            <b-form-Textarea
              readonly
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Product Description"
              v-model="data.product_description"
              style="width: 100%"
            ></b-form-Textarea>
          </b-form-group>
        </div>

        <div class="col-lg-6">
        <b-form-group>
          <label> Product SKU </label>
            <b-form-Textarea
              readonly
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Product SKU"
              v-model="data.product_sku"
              style="width: 100%"
            ></b-form-Textarea>
          </b-form-group>
        </div>

        <div class="col-lg-6">
        <b-form-group>
          <label> Item Length </label>
            <b-form-Textarea
              readonly
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Item Length"
              v-model="data.length"
              style="width: 100%"
            ></b-form-Textarea>
          </b-form-group>
        </div>

        <div class="col-lg-6">
        <b-form-group>
          <label> Item Height </label>
            <b-form-Textarea
              readonly
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Item Height"
              v-model="data.height"
              style="width: 100%"
            ></b-form-Textarea>
          </b-form-group>
        </div>

        <div class="col-lg-6">
        <b-form-group>
          <label> Item Width </label>
            <b-form-Textarea
              readonly
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Item Width"
              v-model="data.width"
              style="width: 100%"
            ></b-form-Textarea>
          </b-form-group>
        </div>

        <div class="col-lg-6">
        <b-form-group>
          <label> Item Weight </label>
            <b-form-Textarea
              readonly
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Item Weight"
              v-model="data.weight"
              style="width: 100%"
            ></b-form-Textarea>
          </b-form-group>
        </div>

        <div class="col-lg-6">
        <b-form-group>
          <label> Item Quantity </label>
            <b-form-Textarea
              readonly
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Item Quantity"
              v-model="data.quantity"
              style="width: 100%"
            ></b-form-Textarea>
          </b-form-group>
        </div>
       
      </div>

      <!--begin::Form Action-->
      <div
        class="form-group d-flex flex-wrap justify-content-left align-item-left"
        style="padding-left: 15px"
      >
        <b-button
          @click.stop.prevent="back"
          class="btn btn-primary font-weight-bold px-7 py-3 my-3 font-size-3"
          style="margin-right: 5px"
          variant="outline-primary"
          ><b-icon icon="arrow-return-left"></b-icon> Back
          </b-button
        >
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->
  </div>
  <!-- end::Add Item -->
</template>


<script>
import { validationMixin } from "vuelidate";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

export default {
  mixins: [validationMixin],
  name: "ViewItems",
  data() {
    return {
      token: "",
      order:{
        item: [
            {
              product_description: "",
              product_sku: "",
              length: "",
              height: "",
              width: "",
              weight: ""
            }
          ]
        }
      };
    },

  mounted() {
    //token
    this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;
    
    // Fetching Items
    this.fetchItem();

    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Orders", route: "/orders/pending" },
      { title: "Item",},
      { title: "View",}
    ]);
  },

  methods: {
    fetchItem: function () {
      this.$axios({
        method: "get",
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
        url: `/order/${this.$route.params.order_id}`,
      })
        .then((response) => {
          // console.log(response.data);
          var data = response.data;
          this.order.item = data.items;
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },

    back() {
      this.$router.push({name: `viewOrder`, params: {id: this.$route.params.order_id}});
    },
  },
};
</script>
  


<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
</style>