<template>
  <div style="background: white" class="mt-3">
    <div class="login-form login-signin;">
      <div class="text-center pt-10 mb-10">
        <h3 class="font-size-h1">
          <strong>Update Item</strong>
        </h3>
      </div>
    </div>

    <b-form class="form" style="max-width: 700px; margin: auto">
      <!-- Item Fields -->
      <div
        class="row"
        style="
          padding: 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
          margin: 20px 0px;
        "
      >
        <div class="col-lg-12" style="text-align: center">
          <h2>Item Detail</h2>
        </div>
        
        <div class="col-lg-6">
          <b-form-group>
            <b-form-Textarea
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Product Description"
              v-model="$v.order.items.product_description.$model"
              :state="validateState('product_description')"
              aria-describedby="input-50-live-feedback"
              style="width: 100%"
            ></b-form-Textarea>
            <b-form-invalid-feedback id="input-50-live-feedback"
              >Product Description required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-1"
              type="text"
              placeholder="Product SKU"
              v-model="$v.order.items.product_sku.$model"
              :state="validateState('product_sku')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>
            <b-form-invalid-feedback id="input-51-live-feedback"
              >Product SKU required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="number"
              placeholder="Item Length"
              v-model.number="$v.order.items.length.$model"
              :state="validateState('length')"
              aria-describedby="input-52-live-feedback"
              style="width: 100%"
            ></b-form-input>
            <b-form-invalid-feedback id="input-52-live-feedback"
              >Item Length required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="number"
              placeholder="Item Height"
              v-model.number="$v.order.items.height.$model"
              :state="validateState('height')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>
            <b-form-invalid-feedback id="input-51-live-feedback"
              >Item Height required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="number"
              placeholder="Item Width"
              v-model.number="$v.order.items.width.$model"
              :state="validateState('width')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>
            <b-form-invalid-feedback id="input-51-live-feedback"
              >Item Width required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="number"
              placeholder="Item Weight"
              v-model.number="$v.order.items.weight.$model"
              :state="validateState('weight')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>
            <b-form-invalid-feedback id="input-51-live-feedback"
              >Item Weight required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-1"
              type="number"
              placeholder="Item Quantity"
              v-model.number="$v.order.items.quantity.$model"
              :state="validateState('quantity')"
              aria-describedby="input-51-live-feedback"
              style="width: 100%"
            ></b-form-input>
            <b-form-invalid-feedback id="input-51-live-feedback"
              >Item Quantity required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

      </div>

      <!--begin::Form Action-->
      <div
        class="form-group d-flex flex-wrap justify-content-left align-item-left"
        style="padding-left: 15px"
      >
        <b-button
          @click.stop.prevent="back"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style="margin-right: 5px"
          variant="outline-primary"
          >Back</b-button
        >
        <button
          @click.stop.prevent="onUpdateItem()"
          type="submit"
          ref="kt_item_update"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style="margin-left: 5px"
        >
          Update Item
        </button>
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->
  </div>
  <!-- end::Add Item -->
</template>

<script>
import { validationMixin } from "vuelidate";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

import {
  required,
  minValue,
  minLength,
} from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "AddItem",
  data() {
    return {
      token: "",
      order_item_id: '',
      order_items: [],
      order:{
        items: {
            product_description: "",
            product_sku: "",
            length: "",
            height: "",
            width: "",
            weight: "",
            quantity: ""
          }
      }
    };
  },

validations: {
    order:{
        items: {
          product_description: {
            required,
            minLength: minLength(3),
          },
          product_sku: {
            required,
            minLength: minLength(3),
          },
          width: {
            required,
            minValue: minValue(1),
          },
          height: {
            required,
            minValue: minValue(1),
          },
          length: {
            required,
            minValue: minValue(1),
          },
          weight: {
            required,
            minValue: minValue(1),
          },
          quantity: {
            required,
            minValue: minValue(1),
          }          
    }
    }
},
    mounted(){
        
        this.order_item_id = this.$route.params.order_item_id;
        
        //token
        this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;
        this.order_item_id = this.$route.params.order_item_id;
        
        // Fetching Item Detail
        this.fetchItem();

    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Orders", route: "/orders/pending" },
      { title: "Item",},
      { title: "Edit",}
    ]);
    },


    methods:{
    validateState(name) {
      const { $dirty, $error } = this.$v.order.items[name];
      return $dirty ? !$error : null;
    },

    fetchItem: function () {
      this.$axios({
        method: "get",
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
        url: `/order/${this.$route.params.order_id}`,
      })
        .then((response) => {
        //   console.log(response.data);
          var data = response.data;
          this.order_items = data.items;
          var index = this.order_items.findIndex(x=> x.order_item_id == this.order_item_id);
          this.order.items = this.order_items[index];
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },

    onUpdateItem: function(){
         // set spinner to create button
      const updateItem = this.$refs["kt_item_update"];

      this.$v.order.$touch();
      if (
        this.$v.order.$anyError){
        this.$root.$bvToast.toast("Please fill the form correctly.", {
          title: "Couriersx!",
          variant: "danger",
          solid: true,
        });
        return;
      }

      updateItem.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {
        updateItem.classList.remove(
          "spinner",
          "spinner-light",
          "spinner-right"
        );
      }, 2000);
        
      this.$axios({
        method: "patch",
        url: `/order/${this.$route.params.order_id}/item/${this.order_item_id}`,
        headers: {
          Authorization: `Bearer ${this.token}`,
        }, 
        data:this.order.items,
      })
        .then((response) => {
        //   console.log(response.data);
          if (response.data.status == '1') {
            this.$root.$bvToast.toast("Item has been Updated successfully.", {
              title: "Couriersx!",
              variant: "success",
              solid: true,
            });
          }
            this.$router.push({name: `viewOrder`, params: {id: this.$route.params.order_id}});
        })
        .catch((err) => {
        //   console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },

    back() {
      this.$router.push({name: `viewOrder`, params: {id: this.$route.params.order_id}});
    },
}
}
</script>