<template>
  <div class="mt-3">
    <div style="text-align: right">
      <!-- Get Carriers Button -->
      <b-button
        v-if="loader == true"
        class="btn btn-primary mt-4 mb-5"
        style="margin-right: 5px"
        variant="outline-success"
        @click="getCarriers()"
      >
        <b-icon icon="truck"></b-icon>
        Carriers</b-button
      >
      <!-- Back Button -->
      <router-link :to="{ name: `orders-pending` }">
        <b-button
          class="btn btn-primary mt-4 mb-5"
          style="margin-right: 5px"
          variant="outline-primary"
        >
          <b-icon icon="arrow-return-left"></b-icon>
          Back</b-button
        >
      </router-link>
    </div>

    <div class="row">
      <!-- Sender Detail -->
      <div class="col-lg-6 pb-5" v-if="order.sender">
        <div class="separator-breadcrumb border-top"></div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Sender Detail</h4>
                <div
                  class="border-top pt-3 pb-3"
                  v-for="(field, index) in senderPreviewColumn"
                  :key="index"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                      <strong>{{ field.label }}</strong>
                    </div>
                    <div class="col-lg-8 col-md-6 col-12">
                      {{ order.sender[field.key] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Receiver Detail -->
      <div class="col-lg-6 pb-5" v-if="order.receiver">
        <div class="separator-breadcrumb border-top"></div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Receiver Detail</h4>
                <div
                  class="border-top pt-3 pb-3"
                  v-for="(field, index) in receiverPreviewColumn"
                  :key="index"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                      <strong>{{ field.label }}</strong>
                    </div>
                    <div class="col-lg-8 col-md-6 col-12">
                      {{ order.receiver[field.key] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Order Detail -->
      <div class="col-lg-6 pb-5">
        <div class="separator-breadcrumb border-top"></div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Order Detail</h4>
                <div
                  class="border-top pt-3 pb-3"
                  v-for="(field, index) in previewcolumns"
                  :key="index"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                      <strong>{{ field.label }}</strong>
                    </div>
                    <div class="col-lg-8 col-md-6 col-12">
                      {{ order[field.key] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ITem Table Column -->
      <div class="col-lg-6 pb-5">
        <div class="table-section">
          <!-- Item Action Buttons -->
          <div slot="table-actions" class="mb-3" style="text-align: right">
            <router-link
              :to="{
                name: `viewItem`,
                params: { order_id: this.$route.params.id },
              }"
            >
              <b-button variant="outline-success" class="text 25 mr-2">
                <b-icon icon="eye"></b-icon> View
              </b-button>
            </router-link>

            <router-link
              :to="{
                name: `addItem`,
                params: { order_id: this.$route.params.id },
              }"
            >
              <b-button variant="outline-primary" class="text 25">
                <b-icon icon="plus-circle"></b-icon> Add
              </b-button>
            </router-link>
          </div>

          <h4 class="m-0">Ordered Items</h4>
          <div class="show table-responsive">
            <br />
            <b-table
              style="background:white; w-100 "
              id="my-table"
              head-variant="light"
              large
              hover
              :fields="columns"
              :items="items"
              :per-page="perPage"
              sort-icon-right
              :current-page="currentPage"
            >
              <template v-slot:cell(actions)="scope">
                <span v-if="scope">
                  <router-link
                    :to="{
                      name: 'specificItemUpdate',
                      params: {
                        order_id: scope.item.order_id,
                        order_item_id: scope.item.order_item_id,
                      },
                    }"
                  >
                    <a class="btn btn-icon btn-light btn-sm mx-3">
                      <span class="svg-icon svg-icon-md svg-icon-primary">
                        <!--begin::Svg Icon-->
                        <inline-svg
                          src="media/svg/icons/Communication/Write.svg"
                        ></inline-svg>
                        <!--end::Svg Icon-->
                      </span>
                    </a>
                  </router-link>
                </span>
                <a
                  class="btn btn-icon btn-light btn-sm"
                  @click="
                    deleteModal(scope.item.order_id, scope.item.order_item_id)
                  "
                >
                  <span class="svg-icon svg-icon-md svg-icon-primary">
                    <!--begin::Svg Icon-->
                    <inline-svg
                      src="media/svg/icons/General/Trash.svg"
                    ></inline-svg>
                    <!--end::Svg Icon-->
                  </span>
                </a>
              </template>
            </b-table>
          </div>
        </div>

        <!-- Pagination -->
        <div class="overflow-auto" v-if="loader == true">
          <b-pagination
            align="center"
            size="lg"
            pills
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </div>
      </div>
    </div>

    <!-- Delete Modal -->
    <b-modal ref="delete-modal" centered hide-footer title="Couriersx">
      <div class="d-block text-center">
        <h3>Are You Sure You Want To Delete!</h3>
        <p>You won't be able to reterive this.</p>
      </div>
      <b-button
        class="mt-3"
        variant="outline-danger"
        block
        @click="deleteOrder()"
        >Delete</b-button
      >
      <b-button
        class="mt-2"
        variant="outline-success"
        block
        @click="$refs['delete-modal'].hide()"
        >No</b-button
      >
    </b-modal>

    <!-- Get Carriers -->
    <b-modal
      hide-footer
      id="getCarriers-Modal"
      centered
      size="xl"
      title="Couriersx"
    >
      <Carriers
        @closeCarriers="closeCarriers"
        v-bind:carriersInfo="carriersInfo"
      ></Carriers>
    </b-modal>

    <!-- loader -->
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
      "
      v-if="loader == false"
    >
      <b-spinner
        style="
          width: 3rem;
          height: 3rem;
          z-index: 99;
          top: 55%;
          position: absolute;
        "
        type="grow"
        variant="primary"
        label="Loading..."
      ></b-spinner>
    </div>
  </div>
</template>

<script>
import Carriers from "@/view/content/Carriers.vue";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

export default {
  name: "ViewProduct",
  components: {
    Carriers,
  },
  data() {
    return {
      loader: false,
      carriersInfo: [],
      specificItemUpdate: "",
      order: [{}],
      items: [],
      deleteOrderId: "",
      deleteItemId: "",
      rows: "",
      perPage: 5,
      currentPage: 1,

      columns: [
        {
          label: "Product Description",
          key: "product_description",
          sortable: true,
        },
        {
          label: "Product SKU",
          key: "product_sku",
          sortable: true,
        },
      ],

      senderPreviewColumn: [
        {
          label: "Name",
          key: "name",
        },
        {
          label: "Email",
          key: "email",
        },
        {
          label: "Phone",
          key: "phone",
        },
        {
          label: "Address 1",
          key: "address_1",
        },
        {
          label: "Address 2",
          key: "address_2",
        },
        {
          label: "Address 3",
          key: "address_3",
        },
        {
          label: "City",
          key: "city",
        },
        {
          label: "State",
          key: "state",
        },
        {
          label: "Post Code",
          key: "post_code",
        },
        {
          label: "Country",
          key: "country",
        },
      ],

      receiverPreviewColumn: [
        {
          label: "Name",
          key: "name",
        },
        {
          label: "Email",
          key: "email",
        },
        {
          label: "Phone",
          key: "phone",
        },
        {
          label: "Address 1",
          key: "address_1",
        },
        {
          label: "Address 2",
          key: "address_2",
        },
        {
          label: "Address 3",
          key: "address_3",
        },
        {
          label: "City",
          key: "city",
        },
        {
          label: "State",
          key: "state",
        },
        {
          label: "Post Code",
          key: "post_code",
        },
        {
          label: "Country",
          key: "country",
        },
      ],

      previewcolumns: [
        {
          label: "Order Number",
          key: "order_number",
        },
        {
          label: "Client Id",
          key: "client_id",
        },
        {
          label: "Consignment Id",
          key: "consignment_id",
        },
        {
          label: "Total Items",
          key: "total_items",
        },
        {
          label: "Total Weight",
          key: "total_weight",
        },
        {
          label: "Total Volume",
          key: "total_volume",
        },
        {
          label: "Created At",
          key: "created_at",
        },
      ],
    };
  },

  mounted() {
    this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;

    this.fetchItem();

    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Orders", route: "/orders/pending" },
      { title: "View" },
    ]);

    this.columns.push({
      label: "Actions",
      key: "actions",
    });
  },

  methods: {
    fetchItem: function () {
      this.$axios({
        method: "get",
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
        url: `/order/${this.$route.params.id}`,
      })
        .then((response) => {
          // console.log(response.data);
          this.loader = true;
          var data = response.data;
          this.order = data;
          this.items = data.items;
          this.rows = this.items.length;
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            this.loader = true;
            this.$root.$bvToast.toast("Something went wrong.", {
              title: "Couriersx!",
              variant: "danger",
              solid: true,
            });
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },

    deleteModal(orderId, ItemId) {
      this.$refs["delete-modal"].show();
      this.deleteOrderId = orderId;
      this.deleteItemId = ItemId;
    },

    deleteOrder() {
      this.$refs["delete-modal"].hide();

      this.$axios({
        method: "delete",
        url: `/order/${this.deleteOrderId}/item/${this.deleteItemId}`,
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      })
        .then((response) => {
          // console.log(response.data);
          if (response.data.status == "1") {
            this.$root.$bvToast.toast(
              "Ordered Item has been deleted successfully.",
              {
                title: "Couriersx!",
                variant: "success",
                solid: true,
              }
            );
          }
          this.fetchItem();
        })
        .catch((err) => {
          // console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },

    getCarriers: function () {
      this.loader = false;
      this.$axios({
        method: "get",
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
        url: `/order/${this.$route.params.id}/carriers`,
      })
        .then((response) => {
          // console.log(response.data);
          this.carriersInfo = response.data;
          this.loader = true;
          this.$bvModal.show("getCarriers-Modal");
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            this.loader = true;
            this.$root.$bvToast.toast("Something went wrong.", {
              title: "Couriersx!",
              variant: "danger",
              solid: true,
            });
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },

    closeCarriers() {
      this.$bvModal.hide("getCarriers-Modal");
    },
  },
};
</script>

<style scoped>
.table-section {
  background: white;
  border-radius: 4px;
  padding: 30px 15px;
  border: 1px solid #ecf0f3 !important;
  margin-bottom: 10px;
}

.show {
  align-self: center;
  width: 100%;
}

.table {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th {
  z-index: 0 !important;
}
@media only screen and (max-width: 600px) {
  .table-section {
    margin-top: 15px;
  }
}
</style>