<template>
  <div class="row mt-5">
    <!-- UserPofileSidebar -->
    <div class="col-lg-4 p-0 mb-8">
      <ClientSideBar></ClientSideBar>
    </div>

    <div class="col-lg-8" style="background: white">
        <h2 class="pt-7 pl-5"><strong> Client Users </strong></h2>
          <!-- Search Field -->
      <div class="row mr-0 ml-0 pt-5">
        <div class="col-lg-3">
        <div>
          <form>
          <b-input-group
            class="mt-2"
            >
            <b-form-input 
            v-model="filter"
            placeholder="Search Users..."></b-form-input>
            <b-input-group-append>
              <b-button size="sm" text="Button" variant="primary"
              :disabled="!filter"
              @click="filter = ''"
              >Reset</b-button>
            </b-input-group-append>
          </b-input-group>
          </form>
        </div>
        </div>
      </div>
    
    <div class="show">
      <br />
    <!-- Table -->
      <b-table style="background:white;"
      
      id="my-table"
      large hover
      :items="client_users"
      :fields="columns"
      :sort-by.sync="sortBy"
      sort-icon-right
      :per-page="perPage"
      :filter="filter"
      :current-page="currentPage"
    ></b-table>
    </div>
    
    <!-- Pagination -->
    <div class="overflow-auto">  
      <b-pagination 
      align="center"
      size="lg"
      pills
      v-model="currentPage" 
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
      >
      </b-pagination>
    </div>

</div>
  </div>
</template>

<script>
import ClientSideBar from "@/view/content/ClientSideBar";

export default {
  components: {
    ClientSideBar,
  },

  data(){
    return{
        client_users: [],
        sortBy: '',
        token: '',
        filter: '',
        perPage: '',
        currentPage: 1,
        rows: '',
        columns: [
        {
            label: "User Name",
            key: "user_name",
            sortable: true
        },
        {
            label: "Email",
            key: "email",
            sortable: true
        },
        {
            label: "Phone No.",
            key: "phone_no",
            sortable: true
        }
        ]
};
  },
    
    mounted(){
        this.token = this.$store.state.auth.user.setClient_accessToken ? 
        this.$store.state.auth.user.setClient_accessToken : this.$store.state.auth.user.access_token;

        this.fetchItem();
    },

  methods:{
    
    fetchItem: function () {
      this.$axios({
        method: "get",
        url: "/clients/users",
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      })
        .then((response) => {
          // console.log(response.data);
          this.client_users = response.data;
        })
        .catch((err) => {
          // console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },
  }
};
</script>

<style lang="scss" scoped>
.show {
  align-self: center;
  width: 100%;
  text-align: center;
}

.table{
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th
{
  z-index: 0 !important;
}
@media only screen and (max-width: 600px) {

}

</style>