<template>
  <div class="row mt-5">
    <!-- UserPofileSidebar -->
    <div class="col-lg-4 p-0 mb-8">
      <ClientSideBar></ClientSideBar>
    </div>

    <div class="col-lg-8">
      <div class="row">
        <!-- Aurthors -->
        <div class="col-lg-6">
          <ListWidget3></ListWidget3>
        </div>
        <!-- Todo's -->
        <div class="col-lg-6">
          <ListWidget4></ListWidget4>
        </div>
        <!-- New Arrivals -->
        <div class="col-lg-12">
          <AdvancedTableWidget2></AdvancedTableWidget2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ClientSideBar from "@/view/content/ClientSideBar";

import AdvancedTableWidget2 from "@/view/content/widgets/advance-table/Widget2.vue";
import ListWidget3 from "@/view/content/widgets/list/Widget3.vue";
import ListWidget4 from "@/view/content/widgets/list/Widget4.vue";

export default {
  components: {
    ClientSideBar,
    AdvancedTableWidget2,
    ListWidget3,
    ListWidget4,
  },
};
</script>