<template>
  <div>
    <div class="table-section">
      <h4 class="m-0">Carrier Options</h4>
      <div class="show table-responsive">
        <br />
        <b-table
          style="background:white; w-100 "
          id="my-table"
          head-variant="light"
          large
          hover
          :fields="columns"
          :items="carriersInfo"
          sort-icon-right
        >
          <template v-slot:cell(actions)="scope">
               <span v-if="scope">
              <b-button
                pill
                variant="success"
                @click="createConsognment(scope.item.order_id, scope.item.carrier_id)"
                >Create Consign</b-button
              >
            </span>
          </template>
        </b-table>
      </div>
    </div>

    <!-- Loader -->
    <div v-if="loader == false" style="position: absolute; top: 40%; left: 47%">
      <b-spinner
        style="width: 3rem; height: 3rem"
        type="grow"
        variant="primary"
        label="Loading..."
      ></b-spinner>
    </div>

  </div>
</template>

<script>
export default {
  props: {
    carriersInfo: Array,
  },

  data() {
    return {
    loader: true,
    token: "",
      columns: [
        {
          label: "Crriers Name",
          key: "carrier_name",
          sortable: true,
        },
        {
          label: "Fuel",
          key: "fuel",
          sortable: true,
        },
        {
          label: "Eta",
          key: "eta",
          sortable: true,
        },
        {
          label: "Insurance Amount",
          key: "insurance_amount",
          sortable: true,
        },
        {
          label: "Carriers Description",
          key: "description",
          sortable: true,
        },
      ],
    };
  },

  mounted() {
    // Getting Access Token From Store
    this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;
    this.columns.push({
      label: "Actions",
      key: "actions",
    });
  },

  methods: {
    createConsognment(Oid, Cid) {
    this.loader = false;
      this.$axios({
        method: "post",
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
        url: `/order/${Oid}/consignment/${Cid}`,
      })
        .then((response) => {
          //   console.log(response.data);
          this.loader = true;
          if (response.data) {
            this.$root.$bvToast.toast("Consignment Created Sucessfully.", {
              title: "Couriersx!",
              variant: "success",
              solid: true,
            });
          this.$emit("closeCarriers");
          }
        })
        .catch((err) => {
          //   console.log(err.response);
          if (err) {
            this.loader = true;
            this.$root.$bvToast.toast("Something went wrong.", {
              title: "Couriersx!",
              variant: "danger",
              solid: true,
            });
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },
  },
};
</script>
<style scoped>
.table-section {
  background: white;
  border-radius: 4px;
  padding: 30px 15px;
  border: 1px solid #ecf0f3 !important;
  margin-bottom: 10px;
  text-align: center;
}

.show {
  align-self: center;
  width: 100%;
}

.table {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th {
  z-index: 0 !important;
}
@media only screen and (max-width: 600px) {
  .table-section {
    margin-top: 15px;
  }
}
</style>