<template>
  <div class="container-fluid">
    <div class="flex-row-auto" id="kt_profile_aside" style="width: 100%">
      <!--begin::Profile Card-->
      <div class="card card-custom card-stretch">
        <!--begin::Body-->
        <div class="card-body pt-4">
          <!--begin::User-->
          <div class="d-flex align-items-center mt-2">
            <!-- <div
              class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center"
            >
              <div
                class="symbol-label"
                style="background-image: url('media/users/300_21.jpg')"
              ></div>
              <i class="symbol-badge bg-success"></i>
            </div> -->
            <div>
              <a
                href="#"
                class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary"
                >CouriersX</a
              >
              <!-- <div class="text-muted">Application Developer</div> -->
              <!-- <div class="mt-2">
                <a
                  href="#"
                  class="btn btn-sm btn-success font-weight-bold py-2 px-3 px-xxl-5 my-1"
                  >Follow</a
                >
              </div> -->
            </div>
          </div>
          <!--end::User-->

          <!--begin::Contact-->
          <div class="py-9">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <span class="font-weight-bold mr-2">Email:</span>
              <a href="#" class="text-muted text-hover-primary"
                >admin@couriersX.com</a
              >
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
              <span class="font-weight-bold mr-2">Phone:</span>
              <span class="text-muted">44(76)34254578</span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <span class="font-weight-bold mr-2">Location:</span>
              <span class="text-muted">Australia</span>
            </div>
          </div>
          <!--end::Contact-->

          <!--begin::Nav-->

          <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
            <!-- Company Details -->
            <div class="navi-item mb-2">
              <router-link :to="{ name: 'company-detail' }">
                <a href="#" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="info-square-fill"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">Company Details</span>
                </a>
              </router-link>
            </div>

            <!-- Payment Methds Info -->
            <!-- <div class="navi-item mb-2">
              <router-link :to="{ name: 'company-payMethods' }">
                <a href="#" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="credit-card"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg"
                    >Payment Methods</span
                  >
                </a>
              </router-link>
            </div> -->

            <!-- Client Add-User -->
            <!-- <div class="navi-item mb-2">
              <router-link :to="{ name: 'add-user' }">
                <a href="#" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="person-plus"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">Add User</span>
                </a>
              </router-link>
            </div> -->

            <!-- Client Add-Card -->
            <div class="navi-item mb-2">
              <router-link :to="{ name: 'add-card' }">
                <a href="#" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="credit-card"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">Payment Method</span>
                </a>
              </router-link>
            </div>

            <!-- Added Cards -->
            <div class="navi-item mb-2">
              <router-link :to="{ name: 'view-cards' }">
                <a href="#" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="credit-card-fill"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">Your Cards</span>
                </a>
              </router-link>
            </div>

            <!-- Users -->
            <div class="navi-item mb-2">
              <router-link :to="{ name: 'company-users' }">
                <a href="#" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="people-fill"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">Users</span>
                </a>
              </router-link>
            </div>

            <!-- Invoices -->
            <div class="navi-item mb-2">
              <router-link :to="{ name: 'company-invoices' }">
                <a href="email-settings.html" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="receipt"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">Invoices</span>
                </a>
              </router-link>
            </div>

            <!-- Preferences -->
            <div class="navi-item mb-2">
              <router-link :to="{ name: 'company-prefrences' }">
                <a href="#" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="gear-fill"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">Preferences</span>
                </a>
              </router-link>
            </div>
          </div>

          <!--end::Nav-->
        </div>
        <!--end::Body-->
      </div>
      <!--end::Profile Card-->
    </div>
  </div>
</template>>

<script>
export default {};
</script>