<template>
  <div style="background: white;" class="mt-3">
    <div class="login-form login-signin;">
      <div class="text-center mb-5">
        <h3 class="font-size-h1"><strong> Import </strong></h3>
      </div>
    </div>
    
    <b-form class="form" style="max-width:300px; margin: auto">
        <b-form-group>
        <b-form-file
          placeholder="Choose a CSV file..."
          v-model="$v.form.file.$model"
          :state="validateState('file')"
          accept=".csv"
          aria-describedby="input-51-live-feedback"          
        ></b-form-file>
        <b-form-invalid-feedback id="input-51-live-feedback"
          >CSV required</b-form-invalid-feedback
        >
      </b-form-group>

      <!--begin::Action-->
      <div class="form-group d-flex flex-wrap justify-content-left align-items-left">
        <b-button
          @click.stop.prevent="back"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style="margin-right: 5px"
          variant="outline-primary"
        >Close</b-button>
        <button
          @click.stop.prevent="onSubmit"
          type="submit"
          ref="kt_import_submit"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style="margin-left: 5px"
        >Upload</button>
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->
  </div>
  <!-- end::Create Product -->
</template>


<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "ImportUpload",

  prop: {
    closeModal: {type: Function},
    redirect: {type: Function}
  },

  data() {
    return {
      token: "",
      form: {
        file: [],
      },
    };
  },
  validations: {
    form: {
      file: {
        required,
      }
    },
  },

  mounted() {
    this.token = this.$store.state.auth.user.setClient_accessToken
      ? this.$store.state.auth.user.setClient_accessToken
      : this.$store.state.auth.user.access_token;
  },

  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },

    resetForm() {
      (this.form = {
        file: null,
      }),
        this.$nextTick(() => {
          this.$v.$reset();
        });
    },

    onSubmit() {
      // set spinner to submit button
      const importCSV = this.$refs["kt_import_submit"];

      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      importCSV.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {
        importCSV.classList.remove(
          "spinner",
          "spinner-light",
          "spinner-right"
        );
      }, 2000);


      let formData = new FormData();
      formData.append("products", this.form.file);
      console.log("Here we go", this.form.file, formData);
       this.$axios
      .put(
        `${this.$axios.defaults.baseURL}products/uploadCsv`, formData, { headers: {
          Authorization: `Bearer ${this.token}` }},)
      .then((response) => {
        if (response.data.status == "1") {
            this.$root.$bvToast.toast(
              "File uploaded successfully.",
              {
                title: "Couriersx!",
                variant: "success",
                solid: true,
              }
            );
          this.$emit('redirect'); 
          this.$emit('closeModal');
          this.$router.push({ name: "product" });
          }
      })
      
      .catch((err) => {
         console.log(err.response);
          if (err) {
            this.$root.$bvToast.toast(
              "Something went wrong.",
              {
                title: "Couriersx!",
                variant: "danger",
                solid: true,
              }
            );
          }
      });
    },

    back() {
      this.$emit('closeModal');
      this.$emit('redirect');
    },
  },
};
</script>
  


<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
</style>