<template>
  <div>
    <div style="background: white; position: relative">
      <div class="login-form login-signin">
        <div class="text-center">
          <h3 class="font-size-h1">Set Client</h3>
          <p class="text-muted font-weight-semi-bold">
            Client Set:
            <strong style="color: blue">{{ get_client_Name }}</strong>
          </p>
        </div>
      </div>

      <div class="show table-responsive">
        <br />
        <b-table
          style="background:white; w-100 "
          id="my-table"
          head-variant="light"
          large
          hover
          :fields="columns"
          :items="clients"
          :per-page="perPage"
          :current-page="currentPage"
        >
          <template v-slot:cell(actions)="scope">
            <span v-if="scope">
              <b-button
                pill
                variant="primary"
                @click="setClient(scope.item.client_id, scope.item.client_name)"
                >Set</b-button
              >
            </span>
          </template>
        </b-table>
      </div>

      <!-- Pagination -->
      <div class="overflow-auto pagination-bottom-row">
        <b-pagination
          align="center"
          size="lg"
          pills
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
        >
        </b-pagination>
        <div style="width: 190px; display: flex; align-items: baseline">
          <b-form-select v-model="perPage" class="drop-select-list">
            <b-form-select-option value="5">5</b-form-select-option>
            <b-form-select-option value="10">10</b-form-select-option>
            <b-form-select-option value="15">15</b-form-select-option>
            <b-form-select-option value="50">50</b-form-select-option>
          </b-form-select>
          <span v-if="rows >= 1">Total Result: {{ rows }}</span>
          <span v-else>Total Result: 0</span>
        </div>
      </div>

      <!-- loader -->
    </div>
    <div v-if="loader == false" style="position: absolute; top: 40%; left: 47%">
      <b-spinner
        style="width: 3rem; height: 3rem"
        type="grow"
        variant="primary"
        label="Loading..."
      ></b-spinner>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    closeModal: { type: Function },
  },
  data() {
    return {
      clients: [],
      rows: "",
      loader: true,
      perPage: 5,
      currentPage: 1,
      columns: [
        {
          label: "Client Name",
          key: "client_name",
        },
        {
          label: "Client Id",
          key: "client_id",
        },
      ],
    };
  },

  mounted() {
    this.clients = this.$store.state.auth.user.clients;
    this.rows = this.clients.length;
    this.columns.push({
      label: "Actions",
      key: "actions",
    });
  },

  computed: {
    get_client_Name() {
      if (this.$store.state.auth.user.setClient_client_name) {
        return this.$store.state.auth.user.setClient_client_name;
      } else if (this.$store.state.auth.user.clients.length >= 1) {
        return this.$store.state.auth.user.clients[0].client_name;
      } else {
        return "You have no client yet!";
      }
    },
  },
  methods: {
    setClient(clientId, client_name) {
      this.loader = false;

      this.$axios({
        method: "get",
        url: `/user/setClient/${clientId}`,
        headers: {
          Authorization: `Bearer ${this.$store.state.auth.user.access_token}`,
        },
      })
        .then((response) => {
          // console.log(response.data);
          this.$root.$bvToast.toast("Client has been set successfully.", {
            title: "Couriersx!",
            variant: "success",
            solid: true,
          });
          var setclient = {};
          setclient.access_token = response.data.access_token;
          setclient.clientName = client_name;
          setclient.clientId = clientId;
          this.$store.commit("setClient", setclient);
          // this.$router.push({ name: "dashboard" });
          this.loader = true;
          this.$emit("closeModal");
        })
        .catch((err) => {
          // console.log(err.response);
          if (err) {
            return;
          }
        })
        .finally(() => {
          // console.log("finally");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.show {
  align-self: center;
  width: 100%;
  text-align: center;
}

.table {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th {
  z-index: 0 !important;
}
@media only screen and (max-width: 600px) {
}
</style>
<style>
.drop-select-list {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  padding: 0px 15px;
}

.pagination-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

.b-pagination-pills .page-item .page-link {
  border-radius: 6px !important;
  padding: 8px 12px;
}
</style>