<template>
  <div class="container-fluid">
    <div
      class="flex-row-auto"
      id="kt_profile_aside"
      style="width: 100%"
    >
      <!--begin::Profile Card-->
      <div class="card card-custom card-stretch">
        <!--begin::Body-->
        <div class="card-body pt-4">
          <!--begin::Toolbar-->
          <div class="d-flex justify-content-end">
            <Dropdown2></Dropdown2>
          </div>
          <!--end::Toolbar-->
          <!--begin::User-->
          <div class="d-flex align-items-center">
            <!-- <div
              class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center"
            >
              <div
                class="symbol-label"
                style="background-image: url('media/users/300_21.jpg')"
              ></div>
              <i class="symbol-badge bg-success"></i>
            </div> -->
            <div>
              <a
                href="#"
                class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary"
                >{{ $store.state.auth.user.full_name }}</a
              >
              <!-- <div class="mt-2">
                <a
                  href="#"
                  class="btn btn-sm btn-primary font-weight-bold mr-2 py-2 px-3 px-xxl-5 my-1"
                  >Chat</a
                >
                <a
                  href="#"
                  class="btn btn-sm btn-success font-weight-bold py-2 px-3 px-xxl-5 my-1"
                  >Follow</a
                >
              </div> -->
            </div>
          </div>
          <!--end::User-->
          
          <!--begin::Contact-->
          <div class="py-9">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <span class="font-weight-bold mr-2">Email:</span>
              <a href="#" class="text-muted text-hover-primary">{{
                $store.state.auth.user.email
              }}</a>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
              <span class="font-weight-bold mr-2">Phone:</span>
              <span class="text-muted">44(76)34254578</span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <span class="font-weight-bold mr-2">Location:</span>
              <span class="text-muted">Melbourne</span>
            </div>
          </div>
          <!--end::Contact-->

          <!--begin::Nav-->

          <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
            
            <!-- Profile Overview -->
            <!-- <div class="navi-item mb-2">
              <router-link :to="{ name: 'profileOverview' }"
              >
                <a href="#" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="card-list"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">Profile Overview</span>
                </a>
              </router-link>
            </div> -->

            <!-- My Details -->
            <div class="navi-item mb-2">
              <router-link :to="{ name: 'profileInfo' }">
                <a href="#" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="person-fill"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">My Details</span>
                </a>
              </router-link>
            </div>

            <!-- Account Info -->
            <div class="navi-item mb-2">
              <router-link :to="{ name: 'accountInfo' }">
                <a href="#" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="info-square-fill"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg"
                    >Account Information</span
                  >
                </a>
              </router-link>
            </div>

            <!-- Update Password -->
            <div class="navi-item mb-2">
              <router-link :to="{ name: 'updatepassword' }">
                <a href="#" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="shield-lock"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">Change Password</span>
                </a>
              </router-link>
            </div>
            
            <!-- Notifications -->
            <div class="navi-item mb-2">
              <router-link :to="{ name: 'underconstruction' }">
                <a href="email-settings.html" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="bell-fill"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">Notifications</span>
                </a>
              </router-link>
            </div>

            <!-- Preferences -->
            <div class="navi-item mb-2">
              <router-link :to="{ name: 'user-preferences' }">
                <a href="email-settings.html" class="navi-link py-4">
                  <span class="navi-icon mr-2">
                    <b-icon icon="gear-fill"></b-icon>
                  </span>
                  <span class="navi-text font-size-lg">Preferences</span>
                </a>
              </router-link>
            </div>
          </div>

          <!--end::Nav-->
        </div>
        <!--end::Body-->
      </div>
      <!--end::Profile Card-->
    </div>
  </div>
</template>>

<script>
import Dropdown2 from "@/view/content/dropdown/Dropdown2.vue";

export default {
  components: {
    Dropdown2,
  },
};
</script>