<template>
  <!-- begin:: Header Topbar -->
  <div class="topbar">
    <div
      v-if="$store.state.auth.isAuthenticated"
      class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2"
    >
      <span class="symbol symbol-35 symbol-light-success" v-if="displayName">
        <i class="menu-icon flaticon-users"></i>
      </span>
      <span
        class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1"
      ></span>
      <span
        class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3"
        v-if="displayName"
        >{{ displayName }}</span
      >
    </div>

    <!--begin: User Bar -->
    <KTQuickUser></KTQuickUser>
    <!--end: User Bar -->
  </div>
  <!-- end:: Header Topbar -->
</template>

<style lang="scss">
.topbar {
  .dropdown-toggle {
    padding: 0;
    &:hover {
      text-decoration: none;
    }
  }
}
</style>

<script>
import KTQuickUser from "@/view/layout/extras/offcanvas/QuickUser.vue";

export default {
  name: "KTTopbar",
  data() {
    return {};
  },

  components: {
    KTQuickUser,
  },

  computed: {
    displayName: function () {
      if (this.$store.state.auth.user.setClient_client_name) {
        return this.$store.state.auth.user.setClient_client_name;
      } else if (this.$store.state.auth.user.clients.length >= 1) {
        return this.$store.state.auth.user.clients[0].client_name;
      } else {
        return false;
      }
    },
  },
};
</script>
