<template>
  <div style="background: white" class="mt-3">
    <div class="login-form login-signin;">
      <div class="text-center mb-5 pt-10 mb-10">
        <h3 class="font-size-h1">
          <strong>Create Consignment</strong>
        </h3>
      </div>
    </div>

    <b-form class="form" style="max-width: 700px; margin: auto">
      <!-- Sender Detail Fields -->
      <div
        class="row"
        style="
          padding: 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
          margin: 20px 0px;
        "
      >
        <div class="col-lg-12" style="text-align: center">
          <h2>Sender Detail</h2>
        </div>

        <!-- Sender City -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-10"
              name="example-input-10"
              type="text"
              placeholder="Sender City"
              v-model="$v.order.sender.city.$model"
              :state="validateStateSender('city')"
              aria-describedby="input-51-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-51-live-feedback"
              >Sender City required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
        <!-- Sender State -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-select
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-11"
              name="example-input-11"
              placeholder="Sender State"
              v-model="$v.order.sender.state.$model"
              :state="validateStateSender('state')"
              aria-describedby="input-52-live-feedback"
            >
              <b-form-select-option slot="first" disabled value=""
                >Select State</b-form-select-option
              >
              <b-form-select-option
                v-for="(data, index) in states"
                :key="index"
                :value="data.key"
                >{{ data.name }}</b-form-select-option
              >
            </b-form-select>

            <b-form-invalid-feedback id="input-52-live-feedback"
              >Sender State required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
        <!-- Sender Post Code -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-13"
              name="example-input-13"
              placeholder="Sender Post Code"
              v-model="$v.order.sender.post_code.$model"
              :state="validateStateSender('post_code')"
              aria-describedby="input-53-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-53-live-feedback"
              >Sender Post Code required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
        <!-- Sender Country -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-14"
              name="example-input-14"
              type="text"
              readonly
              placeholder="Sender Country"
              v-model="$v.order.sender.country.$model"
              :state="validateStateSender('country')"
              aria-describedby="input-54-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-54-live-feedback"
              >Sender Country required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
      </div>

      <!-- Receiver Details Fields -->
      <div
        class="row"
        style="
          padding: 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
          margin: 20px 0px;
        "
      >
        <div class="col-lg-12" style="text-align: center">
          <h2>Receiver Detail</h2>
        </div>
        <!-- Receiver City -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-20"
              name="example-input-20"
              type="text"
              placeholder="Receiver City"
              v-model="$v.order.receiver.city.$model"
              :state="validateStateReceiver('city')"
              aria-describedby="input-61-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-61-live-feedback"
              >Receiver City required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
        <!-- Receiver State -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-select
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-21"
              name="example-input-21"
              v-model="$v.order.receiver.state.$model"
              :state="validateStateReceiver('state')"
              aria-describedby="input-62-live-feedback"
            >
              <b-form-select-option slot="first" disabled value=""
                >Select State</b-form-select-option
              >
              <b-form-select-option
                v-for="(data, index) in states"
                :key="index"
                :value="data.key"
                >{{ data.name }}</b-form-select-option
              >
            </b-form-select>

            <b-form-invalid-feedback id="input-62-live-feedback"
              >Receiver State required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
        <!-- Receiver Post Code -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-23"
              name="example-input-23"
              placeholder="Receiver Post Code"
              v-model="$v.order.receiver.post_code.$model"
              :state="validateStateReceiver('post_code')"
              aria-describedby="input-63-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-63-live-feedback"
              >Receiver Post Code required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
        <!-- Receiver Country -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-24"
              name="example-input-24"
              type="text"
              readonly
              placeholder="Receiver Country"
              v-model="$v.order.receiver.country.$model"
              :state="validateStateReceiver('country')"
              aria-describedby="input-64-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-64-live-feedback"
              >Receiver Country required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
      </div>

      <!-- Button to add Items -->
      <div style="text-align: right; margin-bottom: 10px; margin-right: 5px">
        <button
          class="btn btn-outline-primary btn-rounded ml-2"
          type="primary"
          variant="secondary"
          @click.prevent="add_items"
        >
          Add
        </button>
      </div>

      <!-- Item Fields -->
      <div
        class="row"
        style="
          padding: 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
          margin: 20px 0px;
        "
        v-for="(item, index) in $v.order.items.$each.$iter"
        :key="index"
      >
        <div class="col-lg-12" style="text-align: center">
          <h2>Item Detail</h2>
        </div>
        <!-- Description -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-Textarea
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-31"
              name="example-input-31"
              type="text"
              placeholder="Product Description"
              v-model="$v.order.items.$each[index].product_description.$model"
              :state="
                validateStateItem(
                  $v.order.items.$each[index].product_description
                )
              "
              aria-describedby="input-70-live-feedback"
              style="width: 100%"
            ></b-form-Textarea>
            <b-form-invalid-feedback id="input-70-live-feedback"
              >Product Description required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>

        <!-- Length -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-32"
              name="example-input-32"
              type="number"
              placeholder="Item Length"
              v-model.number="$v.order.items.$each[index].length.$model"
              :state="validateStateItem($v.order.items.$each[index].length)"
              aria-describedby="input-71-live-feedback"
              style="width: 100%"
            ></b-form-input>
            <b-form-invalid-feedback id="input-71-live-feedback"
              >Item Length required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
        <!-- Height -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-33"
              name="example-input-33"
              type="number"
              placeholder="Item Height"
              v-model.number="$v.order.items.$each[index].height.$model"
              :state="validateStateItem($v.order.items.$each[index].height)"
              aria-describedby="input-72-live-feedback"
              style="width: 100%"
            ></b-form-input>
            <b-form-invalid-feedback id="input-72-live-feedback"
              >Item Height required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
        <!-- Width -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-34"
              name="example-input-34"
              type="number"
              placeholder="Item Width"
              v-model.number="$v.order.items.$each[index].width.$model"
              :state="validateStateItem($v.order.items.$each[index].width)"
              aria-describedby="input-73-live-feedback"
              style="width: 100%"
            ></b-form-input>
            <b-form-invalid-feedback id="input-73-live-feedback"
              >Item Width required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
        <!-- Weight -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-35"
              name="example-input-35"
              type="number"
              placeholder="Item Weight"
              v-model.number="$v.order.items.$each[index].weight.$model"
              :state="validateStateItem($v.order.items.$each[index].weight)"
              aria-describedby="input-74-live-feedback"
              style="width: 100%"
            ></b-form-input>
            <b-form-invalid-feedback id="input-74-live-feedback"
              >Item Weight required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
        <!-- Quantity -->
        <div class="col-lg-6">
          <b-form-group>
            <b-form-input
              class="form-control form-control-solid h-auto py-5 px-6"
              id="example-input-36"
              name="example-input-36"
              type="number"
              placeholder="Item Quantity"
              v-model.number="$v.order.items.$each[index].quantity.$model"
              :state="validateStateItem($v.order.items.$each[index].quantity)"
              aria-describedby="input-75-live-feedback"
              style="width: 100%"
            ></b-form-input>
            <b-form-invalid-feedback id="input-75-live-feedback"
              >Item Quantity required</b-form-invalid-feedback
            >
          </b-form-group>
        </div>
        <!-- Remove Button -->
        <template>
          <div v-show="order.items.length > 1" style="text-align: right">
            <button
              class="btn btn-outline-danger btn-rounded ml-2"
              type="primary"
              variant="primary"
              @click.prevent="order.items.splice(index, 1)"
            >
              Remove
            </button>
          </div>
        </template>
      </div>

      <!--begin::Form Action-->
      <div
        class="form-group d-flex flex-wrap justify-content-left align-items-left"
        style="padding-left: 15px"
      >
        <b-button
          @click.stop.prevent="$router.push({ name: 'dashboard' })"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style="margin-right: 5px"
          variant="outline-primary"
          >Back</b-button
        >
        <button
          @click.stop.prevent="onCheck()"
          type="submit"
          ref="kt_consignment_pricing"
          class="btn btn-primary font-weight-bold px-9 py-4 my-3 font-size-3"
          style="margin-left: 5px"
        >
          Check
        </button>
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->

    <!-- Get Carriers -->
    <b-modal
      hide-footer
      id="getCarriers-Modal"
      centered
      no-close-on-backdrop
      size="xl"
      title="Couriersx"
    >
      <div class="show">
        <br />
        <!-- Table -->
        <b-table
          style="background: white"
          id="my-table"
          large
          hover
          :items="carriers"
          :fields="carrierColumns"
          :per-page="perPage"
          :current-page="currentPage"
        >
          <template v-slot:cell(actions)="scope">
            <span v-if="scope">
              <b-button
                pill
                variant="success"
                @click="createConsognment(scope.item.carrier_id)"
                >Create Consign</b-button
              >
            </span>
          </template>
        </b-table>
      </div>

      <!-- Pagination -->
      <div class="overflow-auto pagination-bottom-row">
        <b-pagination
          align="center"
          size="lg"
          pills
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
        >
        </b-pagination>
        <div style="width: 190px; display: flex; align-items: baseline">
          <b-form-select v-model="perPage" class="drop-select-list">
            <b-form-select-option value="5">5</b-form-select-option>
            <b-form-select-option value="10">10</b-form-select-option>
            <b-form-select-option value="15">15</b-form-select-option>
            <b-form-select-option value="50">50</b-form-select-option>
          </b-form-select>
          <span v-if="rows >= 1">Total Result: {{ rows }}</span>
          <span v-else>Total Result: 0</span>
        </div>
      </div>
    </b-modal>
  </div>
  <!-- end::Create Product -->
</template>


<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import { validationMixin } from "vuelidate";
import {
  required,
  minValue,
  minLength,
  maxLength,
} from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "checkConsignmentPricing",

  data() {
    return {
      carriers: [],
      rows: "",
      perPage: 5,
      currentPage: 1,
      carrierColumns: [
        {
          label: "Crriers Name",
          key: "carrier_name",
          sortable: true,
        },
        {
          label: "Fuel",
          key: "fuel",
          sortable: true,
        },
        {
          label: "Eta",
          key: "eta",
          sortable: true,
        },
        {
          label: "Insurance Amount",
          key: "insurance_amount",
          sortable: true,
        },
        {
          label: "Carriers Description",
          key: "description",
          sortable: true,
        },
      ],

      states: [
        {
          name: "New South Wales",
          key: "New South Wales",
        },
        {
          name: "Queensland",
          key: "Queensland",
        },
        {
          name: "South Australia",
          key: "South Australia",
        },
        {
          name: "Tasmania",
          key: "Tasmania",
        },
        {
          name: "Victoria",
          key: "Victoria",
        },
        {
          name: "Western Australia",
          key: "Western Australia",
        },
      ],

      order: {
        sender: {
          city: "",
          state: "",
          post_code: "",
          country: "Australia",
        },
        receiver: {
          city: "",
          state: "",
          post_code: "",
          country: "Australia",
        },
        items: [
          {
            product_description: "",
            length: "",
            height: "",
            width: "",
            weight: "",
            quantity: "",
          },
        ],
      },
    };
  },

  validations: {
    order: {
      sender: {
        city: {
          required,
          minLength: minLength(3),
        },

        state: {
          required,
          minLength: minLength(3),
        },

        post_code: {
          required,
          minLength: minLength(4),
          maxLength: maxLength(4),
        },

        country: {
          required,
          minLength: minLength(4),
        },
      },

      receiver: {
        city: {
          required,
          minLength: minLength(3),
        },
        state: {
          required,
          minLength: minLength(3),
        },
        post_code: {
          required,
          minLength: minLength(4),
          maxLength: maxLength(4),
        },
        country: {
          required,
          minLength: minLength(4),
        },
      },

      items: {
        $each: {
          product_description: {
            required,
            minLength: minLength(3),
          },
          width: {
            required,
            minValue: minValue(1),
          },
          height: {
            required,
            minValue: minValue(1),
          },
          length: {
            required,
            minValue: minValue(1),
          },
          weight: {
            required,
            minValue: minValue(1),
          },
          quantity: {
            required,
            minValue: minValue(1),
          },
        },
      },
    },
  },

  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Consignment", route: "/consignments/view" },
      { title: "Check Pricing" },
    ]);

    this.carrierColumns.push({
      label: "Actions",
      key: "actions",
    });
  },

  methods: {
    validateStateSender(name) {
      const { $dirty, $error } = this.$v.order.sender[name];
      return $dirty ? !$error : null;
    },

    validateStateReceiver(name) {
      const { $dirty, $error } = this.$v.order.receiver[name];
      return $dirty ? !$error : null;
    },

    validateStateItem(data) {
      const { $dirty, $error } = data;
      return $dirty ? !$error : null;
    },

    resetForm() {
      (this.order = {}),
        this.$nextTick(() => {
          this.$v.$reset();
        });
    },

    //Adding Item Form
    add_items() {
      this.order.items.push({
        product_description: "",
        product_sku: "",
        length: "",
        height: "",
        width: "",
        weight: "",
        quantity: "",
      });
    },

    onCheck() {
      // set spinner to create button
      const createOrder = this.$refs["kt_consignment_pricing"];

      this.$v.order.$touch();
      if (this.$v.order.sender.$anyError || this.$v.order.receiver.$anyError) {
        this.$root.$bvToast.toast("Please fill the form correctly.", {
          title: "Couriersx!",
          variant: "danger",
          solid: true,
        });
        return;
      }

      createOrder.classList.add("spinner", "spinner-light", "spinner-right");
      setTimeout(() => {
        createOrder.classList.remove(
          "spinner",
          "spinner-light",
          "spinner-right"
        );
      }, 2000);

      let data = this.order;
      // Store Data in Vuex
      this.$store.commit("setNewConsignment", data);

      this.$axios({
        method: "post",
        url: `/carriers/noorder`,
        data,
      })
        .then((response) => {
          // console.log(response.data);
          this.carriers = response.data;
          this.rows = this.carriers.length;
          this.$bvModal.show("getCarriers-Modal");
        })
        .catch((err) => {
          // console.log(err.response);
          if (err.message) {
            this.$root.$bvToast.toast(`${err.message}`, {
              title: "Couriersx!",
              variant: "danger",
              solid: true,
            });
          }
        })
        .finally(() => {
          //console.log("finally");
        });
    },

    createConsognment(id) {
      this.$store.commit("setNewCarrierId", id);
      this.$router.push({ name: "create-order" });
    },
  },
};
</script>
  


<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
.bv-no-focus-ring {
  display: flex;
}
.show {
  align-self: center;
  width: 100%;
  text-align: center;
}

.table {
  width: 98%;
  margin: auto;
  margin-bottom: 20px;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th {
  z-index: 0 !important;
}
</style>
<style>
.drop-select-list {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  padding: 0px 15px;
}

.pagination-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

.b-pagination-pills .page-item .page-link {
  border-radius: 6px !important;
  padding: 8px 12px;
}
</style>