<template>
  <!--begin::Stats Widget 7-->
  <div class="card card-custom card-stretch card-stretch-half gutter-b">
    <!--begin::Body-->
    <div class="card-body d-flex flex-column p-0">
      <div
        class="d-flex align-items-center justify-content-between card-spacer flex-grow-1"
      >
        <div class="d-flex flex-column mr-2">
          <a
            @click="$router.push('/consignments/view')"
            class="text-dark-75 text-hover-primary font-weight-bolder font-size-h5 cursor-pointer"
          >
            Weekly Consignments
          </a>
          <span class="text-muted font-weight-bold mt-2">
            Your Weekly Consignments Chart
          </span>
        </div>
        <span
          id="newConsignment"
          class="symbol symbol-light-success symbol-45 cursor-pointer"
          v-if="getStats && getStats.consignmentWeek !== null"
        >
          <span class="symbol-label font-weight-bolder font-size-h6">
            +{{ getStats.consignmentWeek[6].count }}
          </span>
        </span>
        <b-tooltip v-if="getStats && getStats.consignmentWeek !== null" target="newConsignment" triggers="hover" placement="left">
          <b>{{ getStats.consignmentWeek[6].count }}</b> consignment(s) added yesterday
        </b-tooltip>
      </div>
      <!--begin::Chart-->
      <apexchart
        class="card-rounded-bottom"
        :options="chartOptions"
        :series="series"
        type="area"
      ></apexchart>
      <!--end::Chart-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::Stats Widget 7-->
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "widget-7",
  data() {
    return {
      count: [],
      date: [],
      chartOptions: {},
      series: [
        {
          name: "Consignment Created",
          data: [],
        },
      ],
    };
  },

  created() {
    if (this.getStats && this.getStats.consignmentWeek !== null) {
      for (var consignment of this.getStats.consignmentWeek) {
        this.count.push(consignment.count);
        var d = this.formatDate(consignment.date);
        this.date.push(d);
      }
      this.series[0].data = this.count;
    }
  },
  computed: {
    ...mapGetters(["layoutConfig", "getStats"]),
  },
  mounted() {
    // reference; kt_stats_widget_7_chart
    if (this.getStats && this.getStats.consignmentWeek !== null) {
      setTimeout(() => {
        this.chartOptions = {
          chart: {
            type: "area",
            height: 150,
            toolbar: {
              show: false,
            },
            zoom: {
              enabled: false,
            },
            sparkline: {
              enabled: true,
            },
          },
          plotOptions: {},
          legend: {
            show: false,
          },
          dataLabels: {
            enabled: false,
          },
          fill: {
            type: "solid",
            opacity: 1,
          },
          stroke: {
            curve: "smooth",
            show: true,
            width: 3,
            colors: [this.layoutConfig("colors.theme.base.success")],
          },
          xaxis: {
            categories: this.date,
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            },
            labels: {
              show: false,
              style: {
                colors: this.layoutConfig("colors.gray.gray-500"),
                fontSize: "12px",
                fontFamily: this.layoutConfig("font-family"),
              },
            },
            crosshairs: {
              show: false,
              position: "front",
              stroke: {
                color: this.layoutConfig("colors.gray.gray-300"),
                width: 1,
                dashArray: 3,
              },
            },
            tooltip: {
              enabled: true,
              formatter: undefined,
              offsetY: 0,
              style: {
                fontSize: "12px",
                fontFamily: this.layoutConfig("font-family"),
              },
            },
          },
          yaxis: {
            labels: {
              show: false,
              style: {
                colors: this.layoutConfig("colors.gray.gray-500"),
                fontSize: "12px",
                fontFamily: this.layoutConfig("font-family"),
              },
            },
          },
          states: {
            normal: {
              filter: {
                type: "none",
                value: 0,
              },
            },
            hover: {
              filter: {
                type: "none",
                value: 0,
              },
            },
            active: {
              allowMultipleDataPointsSelection: false,
              filter: {
                type: "none",
                value: 0,
              },
            },
          },
          tooltip: {
            style: {
              fontSize: "12px",
              fontFamily: this.layoutConfig("font-family"),
            },
            y: {
              formatter: function (val) {
                return val + " consignments";
              },
            },
          },
          colors: [this.layoutConfig("colors.theme.light.success")],
          markers: {
            colors: [this.layoutConfig("colors.theme.light.success")],
            strokeColor: [this.layoutConfig("colors.theme.base.success")],
            strokeWidth: 3,
          },
          grid: {
            show: false,
            padding: {
              left: 0,
              right: 0,
            },
          },
        };
      }, 3000);
    }
  },

  methods: {
    months(value) {
      let months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ];
      return months[value];
    },

    formatDate(value) {
      if (typeof value === "string") {
        value = value.replace(/-/g, "/");
        value = value.replace(/T/g, " ");
        value = new Date(value);
      } else {
        value = new Date(value);
      }
      value = `${value.getDate()} ${this.months(
        value.getMonth()
      )} ${value.getFullYear()}`;
      return value;
    },
  },
};
</script>
